[2017-09-25 09:48] vladmihalcea opened #1 "Add support for combining assigned and IDENTITY and SEQUENCE identifier generators"
The next release is going to add support for combining the [assigned identifier generator with either IDENTITY or SEQUENCE](https://vladmihalcea.com/2016/03/01/how-to-combine-the-hibernate-assigned-generator-with-a-sequence-or-an-identity-column/) as well as the SEQUENCE locating mechanism explained in [this article](https://vladmihalcea.com/2016/06/13/how-to-implement-a-custom-string-based-sequen

[2017-09-25 10:35] cvaliere opened #2 "Support for JSONB List<E>"
hi there

nice library, thanks for the work!

as asked here (https://vladmihalcea.com/2016/06/20/how-to-map-json-objects-using-generic-hibernate-types/#comment-11900), how would it be possible to map a JSONB field to a List<E>?

I've tried to initialize javaXMember, from Weicheng Xu answer, but didn't find a way to do so

Thanks!

[2017-09-25 11:56] vladmihalcea commented on #2
Thanks. You can save it as a JsonNode and it will work just fine. Or wrap in some object that has a `List`. It will not work as a direct `List`.

[2017-09-25 11:56] #2 closed

[2017-09-25 17:54] cvaliere commented on #2
well, I know that I can save it as a JsonNode, or wrap it into an object that has a List

but both solutions are only workarounds if my need is to map to a List

as a matter of fact, I am already able to map a jsonb column to a List, using a JsonUserType (please find code below)

it's just a bit awkward to use because it requires to declare twice the type of the object, but it works

I was wonderi

[2017-09-25 18:14] vladmihalcea commented on #2
Of course, you can come up with such a `UserType`, but I don't think it's the cleanest solution. I'd rather save it as a `JsonNode` in a private attribute and simply expose the `List` as a getter so the user can still use the `List` while the underlying type is still JSON.

[2017-09-30 14:22] srinivasvsk opened #3 "Add support to provide an external ObjectMapper"
Firstly,   greatly appreciate your work on simplifying the json configuration for hibernate.
While using this package with kotlin though, ObjectMapper needs some additional configuration,  would you look at externalizing the objectmapper, so it can be configured from outside or re-used.

Thanks again

[2017-09-30 14:24] vladmihalcea commented on #3
Just send me a Pull Request with your proposed changes and I'll review them and let you know if they need any further improvements.

[2017-11-07 20:54] JoeCDNA opened #5 "Java Enum to PostgreSQL Enum (method override problem)"
`nullSafeSet()` in `com.vladmihalcea.hibernate.type.basic.PostgreSQLEnumType` is never triggered.
It seems that the currently implemented `PostgreSQLEnumType` doesn't have the proper method definition to override its parent (`org.hibernate.type.EnumType`).

Current:
[code]
Should be:
[code]

Note that the class `SharedSessionContractImplementor` cannot be found in my implementation.

[2017-11-07 21:07] vladmihalcea commented on #5
The [5.2 PostgreSQLEnumType](https://github.com/vladmihalcea/hibernate-types/blob/master/hibernate-types-52/src/main/java/com/vladmihalcea/hibernate/type/basic/PostgreSQLEnumType.java) is different than [5.1 PostgreSQLEnumType](https://github.com/vladmihalcea/hibernate-types/blob/master/hibernate-types-5/src/main/java/com/vladmihalcea/hibernate/type/basic/PostgreSQLEnumType.java) because the `User

[2017-11-07 21:07] #5 closed

[2017-11-08 17:07] pedroxs opened #6 "Error with Type erasure and clone method"
[This method](https://github.com/vladmihalcea/hibernate-types/blob/26e93b805bea9eff30a62cab12d3b3676f0c1d40/hibernate-types-52/src/main/java/com/vladmihalcea/hibernate/type/json/internal/JacksonUtil.java#L40) breaks when trying to clone `java.util.List` and `java.util.Map` top level attributes. Maybe use serialization to create a deep copy, ex:
[code]

My current work around is to encapsulate such

[2017-11-08 17:33] pedroxs commented on #6
I just found that Hibernate has this helper method: `org.hibernate.internal.util.SerializationHelper#clone`, maybe use this instead of Jackson for cloning purposes? WDYT

[2017-11-08 17:35] vladmihalcea commented on #6
@pedroxs Please send me a Pull Request with a test case (you can copy/paste an existing one as a template) to replicate the issue. Then. I'll investigate it. Thanks.

[2017-11-11 07:17] vladmihalcea opened #8 "JacksonUtil#clone should support Lists as well"
As [explained here](https://github.com/vladmihalcea/hibernate-types/issues/6#issuecomment-342894467).

[2017-11-11 07:19] vladmihalcea commented on #8
Fixed.

[2017-11-11 07:19] #8 closed

[2017-11-13 16:51] mguilherme opened #9 "Error trying to serialize jsonB property in v1.1.2"
Hi,
I'm using hibernate-types-52 with jsonB types with success in version 1.1.1.
I'm using Spring boot 1.5.8 with Java 8.
I'm trying to upgrade to **1.1.2** but it gives me serialization issues.
This might be related with issues #6 and #8 since the error is in `Set<MerchantChannel> channels`

**pom**
[code]

**application.yml**

[code]

[code]

[code]

[2017-11-13 17:08] vladmihalcea commented on #9
The `clone` method that fails you works like this:

[code]

So, you are passing a `Set<MessageChannel>` which is `Serializable`, but the `MessageChannel` is not.

That was exactly [the case for handling collections](https://github.com/vladmihalcea/hibernate-types/issues/8).

So, either you make all your Json objects `Serializbale` or you create a Wrapper which will hold the collection and the Wrap

[2017-11-13 17:08] #9 closed

[2017-11-13 17:14] mguilherme commented on #9
@vladmihalcea your explanation makes sense, although, this was an old mongodb implementation that works with version hibernate-types-52 1.1.1 but I can see that this is due to #8.

Thanks for the clarification, I'll try to refactor my src.

[2017-11-13 17:16] vladmihalcea commented on #9
For the moment, I don't have any better idea how to handle it. However, this is an open-source project, so feel free to come up with a different approach. Pull Requests are always welcome.

[2017-11-13 18:05] mguilherme commented on #9
FYI, following your advice I've implemented Serializable in **MerchantChannel** and it works just fine.

[2017-11-13 18:09] vladmihalcea commented on #9
@mguilherme I'm glad I could help.

[2017-11-13 19:36] pedroxs commented on #6
@vladmihalcea my branch only had a test case reproducing the error and not a solution to the problem. As I mentioned on previous messages, I am still not sure how to solve this issue.

[2017-11-14 06:57] vladmihalcea commented on #6
@pedroxs Based on your test, I changed the way `clone` is implemented so that we now use the `SerializationHelper` if the object is `Serializable` and use the previous clone otherwise. Check the 1.1.2 and it should fixe your issue.

[2017-11-14 06:57] #6 closed

[2017-11-14 13:00] pedroxs commented on #6
Somehow I missed your commit... Will give it a try and post some feedback. Thanks

[2017-11-14 21:50] pedroxs commented on #6
Worked like a charm. Thanks!

[2017-11-15 10:47] mguilherme commented on #9
Since I'm using a `Set` things don't work out of the box, my solution sounds a bit hackish and not clean.
I replaced My `Set<Merchant>` with `JsonNode` and created custom get / set that converts from and to JsonNode:

[code]

[2017-11-21 05:13] 4rpit opened #10 "Returning List<LikedHashMap> for the type List<UserType>"
Hi,
I am using the library to cast JSON from DB to a List<UserType> object like this.
[code]
[code]

[code]

Any help why I am getting a return of List<LikedHashMap> not of List<UserType>

[2017-11-21 05:28] vladmihalcea opened #11 "Add support for List, Set, Map to be saved as JSON"
Investigate and add support for List, Set, and Map of Pojos to be saved as JSON.

[2017-11-21 05:29] vladmihalcea commented on #10
As noted in the provided examples, only Java Beans are supported, not Lists of Java Objects. At some point, I will investigate how to do that. I created [this issue](https://github.com/vladmihalcea/hibernate-types/issues/11) for this feature.

Meanwhile, just wrap the `List<UserType>`  into a `UserTypeHolder` object which contains the `List<UserType>`, and it will work like a charm.

[2017-11-21 05:29] #10 closed

[2017-11-21 05:36] 4rpit commented on #10
Thanks for your quick response, I will try it and let you know.

[2017-11-23 14:08] UltimaPhoenix commented on #11
Hello I really like your project, to do that in the past I created a `TypeReferenceFactory` like these
[code]

Each field that contains a generic definition is linked to an inner `TypeReferenceFactory` that is used to generate a `TypeReference`
[code]
then every time the field is deserialized through the `ObjectMapper` the method with `TypeReference` as arg can be used in place of the one with `Cl

[2017-11-23 14:17] vladmihalcea commented on #11
Looks great. Send me a Pull Request. Thanks.

[2017-11-23 17:53] Emmenemoi opened #13 "Feature request: Abstract class (ie: generic storage)"
The json mapper can't work if the defined class is Abstract or Object.
The purpose of jsonb column being to be able to store variable properties objects, it makes sense that the provided code allows storing at least a hierarchy of objects in the same column - or even any object if the Hibernate type is "Object".

To allow this, we could split the storage in 2 derived columns: "<original_name>_obje

[2017-11-23 17:57] vladmihalcea commented on #13
You can store anything you want via a `JsonNode` object which does not require any specific structure. You can then do the transforming from `JsonNode` which can contain a `_class` property so you can further transform the JSON into a type-safe `Object` in the application if you want.

[2017-11-25 15:30] andyflury opened #14 "Serialization problem when using JsonNodeBinaryType and Hibernate 2nd-level cache"
Hi Vlad

Congrats to you project! I found your suggestions very helpful!

One small issue I noticed, when using the JsonNodeBinaryType. When I turn on Hibernate 2nd level cache through the following two properties:

`
hibernate.cache.use_second_level_cache=true
hibernate.cache.region.factory_class=org.hibernate.cache.ehcache.EhCacheRegionFactory
`

Then I get the following exception:
`
java.lang.C

[2017-11-25 15:59] vladmihalcea commented on #14
Thanks.

Can you fork the repository and provide a test case for it. You can override the `properties` method to provide the 2nd-level cache properties.

I think we need to override the `assemble` and `disassemble` methods in the `JsonNodeBinaryType`. Try to transform the `JsonNode` to a `String` instead of serializing it, and , for deserialization, make it a `JsonNode` from the `String` object.

[2017-11-25 16:37] andyflury commented on #14
Thanks Vlad
Yes, I will provide a test case.
I looked at overwriting assemble and disassemble, problem is that those methods are final.
Regards
Andy

[2017-11-25 17:06] vladmihalcea commented on #14
@andyflury A test case is a good start I'll investigate to see what we can do about it.

[2017-11-27 10:32] vladmihalcea commented on #14
Fixed by [this commit](https://github.com/vladmihalcea/hibernate-types/commit/4331315b8f534930a2f4e6916ba7da90906f6c9a).

[2017-11-27 10:32] #14 closed

[2017-11-28 11:15] vladmihalcea commented on #11
Applied upstream, thanks

[2017-11-28 11:15] #11 closed

[2017-11-28 12:36] UltimaPhoenix commented on #13
@Emmenemoi Generally the feature request #3 will allow you to manage this by configuring the ObjectMapper properly. However if you have an Abstract class, you can annotate it with `@JsonTypeInfo` in order to manage polymorphism (jackson will do the job for you).

[2017-11-28 12:59] UltimaPhoenix commented on #3
I think that this is an important feature, I will send you a Pull Request for this.

[2017-11-28 14:41] vladmihalcea commented on #3
@UltimaPhoenix There already [this branch](https://github.com/vladmihalcea/hibernate-types/tree/CustomObjectMapper) where I started the development. I just didn't have time to finish it for all modules.

You can try it. It works just fine on the branch.

[2017-12-21 19:04] Emmenemoi commented on #13
Not se easy to configure, but @UltimaPhoenix's solution was the way to go. Works perfectly.

[2017-12-21 19:04] #13 closed

[2018-01-10 12:01] 4rpit opened #16 "Issue with jackson-databind version 2.9.0"
Hi,

I have dependencies of jackson-databind with version 2.9.0 in my project and I am getting an exception  with stacktrace
com.vladmihalcea.hibernate.type.json.internal.AbstractJsonSqlTypeDescriptor$1.doExtract(AbstractJsonSqlTypeDescriptor.java:34)
        at org.hibernate.type.descriptor.sql.BasicExtractor.extract(BasicExtractor.java:47)
        at org.hibernate.type.AbstractStandardBasicType.

[2018-01-10 12:19] vladmihalcea commented on #16
Just [tested it](https://github.com/vladmihalcea/hibernate-types/commit/ac3a5ac8fe74f6b69f221656eb3cbc3233548997) and 5.2 works fine with Jackson 2.9.0.

You'll have to debug it and see why it fails for you. It's something else.

[2018-01-10 12:19] #16 closed

[2018-01-16 10:29] vladmihalcea opened #17 "Add support for VARCHAR when mapping ARRAY to String[]"
As explained in [this article](https://vladmihalcea.com/hibernate-hsqldb-array-type/).

[2018-01-16 10:31] vladmihalcea opened #18 "Optimize String comparisons"
As explained in this [Pull Request](https://github.com/vladmihalcea/high-performance-java-persistence/pull/15).

[2018-01-26 22:12] iLavryk opened #21 "Provide a way to customize the deep copy mechanism"
There is a method
static T clone(T value)
in class JacksonUtil
which try to determine what type of deep copy use and in case if input Object implements Serializable interface it try to use java Serialization mechanism to copy object. But what if i use ArrayList to store it to DB and MyObject is not implements it. Why just for all cases not use json serialization?
Can you do it preferable may be. B

[2018-01-27 14:29] vladmihalcea commented on #21
That feature was added to support [this issue](https://github.com/vladmihalcea/hibernate-types/issues/8).

I'm thinking of adding some Configuration object so that we can customize various aspects, like this one here.

[2018-02-02 06:16] #18 closed

[2018-02-02 14:30] mguilherme commented on #3
Are there any news regarding this issue @vladmihalcea ?

Right now I'm providing additional configuration to the ObjectMapper like this:

[code]

It looks like the `JacksonUtil.OBJECT_MAPPER.enableDefaultTyping( ObjectMapper.DefaultTyping.NON_CONCRETE_AND_ARRAYS, As.PROPERTY );` is not working, I guess If I try to use non concrete types it will fail.

[2018-02-02 14:51] vladmihalcea commented on #3
@mguilherme I created a branch as indicated above, but I didn't have time to finish it yet. If you have time, take a look at it, and you can push the development further and send me a Pull Request when you are done. Thanks.

[2018-02-02 16:19] mguilherme commented on #3
Thank you @vladmihalcea, will try to give a look.

[2018-02-10 12:16] vladmihalcea opened #23 "Add MySQL BinaryType"
https://discourse.hibernate.org/t/how-to-map-byte-to-jdbc-binary-type/222/2

[2018-02-19 13:49] Marek00Malik opened #24 "Custom deserializer for collection"
Hi,
First, great job on this lib, congrats !

I have a quick question regarding deserialization.
I have an Set of objects which contain more objects inside them (in a structure like this:
Set<A>, where A is an abstract class with 3 different implementations (A1, A2, A3). So in the end I have a set of A1's, that contain a set of A2's which in the end contain a set of A3's).
To correctly create a co

[2018-02-19 14:55] vladmihalcea commented on #24
Thanks.

Related to your question, the current implementation can only create objects of a given type. Only some custom handle your use case.

[2018-02-20 09:08] Marek00Malik commented on #24
By custom handler you mean the one "JsonStringType" ?
If I would be able to run my one Json deserializer rather then trying to may on TypeReference I'm ok :)
But I don't know how to force this custom handler.  Can you point me to any examples ?

[2018-02-20 09:11] vladmihalcea commented on #24
Just fork the repository and try to implement your own logic. The code base is very simple and with one debug session, you are going to know how it works. There are lots of examples in unit tests which you can run as well, or try to add a new one for your use case.

[2018-02-24 20:51] vladmihalcea opened #25 "Add a new Type to handle that JsonNode is not Serializable"
Mapping the JSON type to a String in Java and then just use a `@Transient` toJsonNode method would be a solution.

[2018-03-07 15:32] vladmihalcea commented on #3
Implemented and released in 2.1.0.

[2018-03-07 15:32] #3 closed

[2018-03-08 09:15] vladmihalcea commented on #3
Here's an article which describes this [new feature](https://vladmihalcea.com/hibernate-types-customize-jackson-objectmapper/).

[2018-03-19 23:14] jwgmeligmeyling opened #27 "Exception UNION could not convert type for inheritance hierarchies with JsonStringType"
Given an class hierarchy with entities B and C that both extend base class A, when C has a property mapped with `JsonStringType`, and one queries all `A` using `SELECT a FROM A a`, the query fails with the following exception:

[code]

The error is caused by the fact that the produced SQL query has the following format: (I slightly simplified it to only include the relevant part)

[code]

The `::u

[2018-03-27 00:12] rhanton commented on #21
I'm having this issue too. It seems like a nuisance to figure out a way to do it, but it would be nice if the use of the SerializationHelper was configureable or if there was an easy way to override just the JacksonUtil without cloning the entire library.

[2018-03-27 09:07] vladmihalcea commented on #21
This is fixed in version 2.2.0 as explained in [this article](https://vladmihalcea.com/how-to-customize-the-json-serializer-used-by-hibernate-types/).

You can now customize the `JsonSerializer` and provide your own logic for deep cloning.

[2018-03-27 09:07] #21 closed

[2018-03-27 09:09] vladmihalcea commented on #24
Closing this issue for now since there was no example being given as a Pull Request.

[2018-03-27 09:09] #24 closed

[2018-03-27 09:10] vladmihalcea commented on #27
Please provide a replicating test case for this issue. Just fork the project and use only of the PostgreSQL unit tests as an example to create a new use case that demonstrates this issue.

Thanks.

[2018-05-02 14:42] derekm opened #29 "Use newer JSON-P & JSON-B standards as alternative to Jackson"
Jackson is being obsoleted by JSON-P & JSON-B, and the Java community will be moving forward with the industry standards.

It would be nice to see JSON-P's `JsonObject` or `JsonStructure` used instead of Jackson's `JsonNode`.

It is also possible that adding in JSON-B could allow for typesafe population of POJOs from PostgreSQL `jsonb` columns, but I can't speak as to whether Hibernate could allow

[2018-05-02 14:47] vladmihalcea commented on #29
That can be done. It only requires changing the JavaTypeDescriptor. However, I have no time to do it now.

[2018-05-04 13:51] akefirad opened #30 "ERROR: column "location" is of type json but expression is of type character varying"
I'm trying to use `JsonStringType`, here's how I use it:

[code]
But I get the following error:

So to make sure if there's something missing in my code, I tried to run the test `PostgreSQLJsonStringTypeTest`. However to make it similar to my code I had to change the following:
[code]
And the test failed with the same error:

It seems that for some reason `JsonStringType` does not work properly. (

[2018-05-04 13:58] vladmihalcea commented on #30
The short names `jsonb` and `json` I used in my tests are not equivalent to `jsonb` and `json` column types in PostgreSQL.

`jsonb` means that the JDBC Driver expects to provide the object in binary format which is what PostgreSQL expects.

`json` is for passing the JSON object as a String which is how the MySQL Driver works with this object type.

So, for PostgreSQL, use the `JsonBinaryType` and

[2018-05-04 13:58] #30 closed

[2018-05-04 19:05] derekm commented on #29
I may try to carve out some time to assist!

[2018-05-04 19:06] vladmihalcea commented on #29
Cool, thanks

[2018-05-29 12:08] dgks0n opened #32 "Cannot be transformed to Json object"
Hi all,

I'm using ```hibernate-types``` to serialize/deserialize list of my object with MySQL as below:

[code]

Of course, I have defined map supper class and @TypeDef but it always return cannot be transformed to Json object.

Exception:
[code]

Can you give me few suggestions to solve problem?

Thank you!

[2018-05-30 08:42] dgks0n commented on #32
@vladmihalcea I don't think so, this is real JSON string that stored in MySQL: `[]`

I'm using the `getEntityManager().find(type, id)` method for loading my record and parser the field `default_messages` with its data `[]` into List<DefaultMessage> but could not. It throws exception as issue named.

Thanks

[2018-05-30 11:29] dgks0n commented on #32
I checked your lib and I through the problem related to this class:

[code]
In fact, the ```rs.getObject(name)``` should return real value of field but it always return instance id. For example: `B@4ad8cfea`

Why id does not return correctly?

[2018-05-30 11:32] vladmihalcea commented on #32
Just fork the repo and run the tests and you'll see they all run just fine for both PostgreSQL and MySQL.

[2018-06-03 15:14] vladmihalcea commented on #32
@dgks0n Try with version 2.2.2. I made the JsonStringTYpe use getString instead of getObject.

[2018-06-18 21:04] alexandrmiee opened #33 "Convert JSON from MySQL to UTF-8"
Could not deserialize values from mysql json column with utf-8 encoding.
Example
`
@ TypeDef(
    name = "jsonb-node",
    typeClass = JsonStringType.class
)`
`
public class Catalog {`
`...`
`
@ Type( type = "jsonb-node" )`
`
@ Column(columnDefinition = "json")`
`
public ArrayNode tags;`
`...`
`
List<Catalog> catalog = em.createNativeQuery("select * from Catalog c ",Catalog.class).getResultList();

[2018-06-19 08:31] vladmihalcea commented on #33
Most likely there's an incompatibility between the encoding you used in your DB with the one used by your application.

If you can replicate it and send me a Pull Request that proves the issue, I'm going to reopen the issue. Otherwise, it's because of the encoding mismatch.

[2018-06-19 08:31] #33 closed

[2018-06-19 20:50] alexandrmiee opened #34 "Convert UTF8 String error"
When read UTF8 string from mysql json column, result string converting with error:
Original string
[code]
Result string after hibernate request
[code]

If read varchar column no error occure.

[2018-06-20 01:43] vladmihalcea commented on #34
Send a Pull Request which proves the use case with a test case.

[2018-06-20 08:09] martinwithaar opened #35 "ObjectMapperSupplier implementation never loaded"
**Summary**
A custom `ObjectMapperSupplier` implementation is not loaded on startup.

**Steps to reproduce**
1. Create a custom `ObjectMapperSupplier` implementation that enables serialization features
2. Register the implementation with the `hibernate.types.jackson.object.mapper` setting in your `application.yml` file
3. Run the application

**Expected results**
The enabled serialization features

[2018-06-20 08:18] vladmihalcea commented on #35
Thanks for creating the issue. Now, I want you to:

1. Fork the repository.
2. Copy an existing test case and provide the logic that replicates the issue.

Once the issue is replicated, I can start investigating it.

[2018-06-20 15:04] vladmihalcea commented on #27
Closing because no test case was provided to prove the issue.

[2018-06-21 20:13] vladmihalcea commented on #2
This feature is now supported. Check out [this article](https://vladmihalcea.com/how-to-map-json-collections-using-jpa-and-hibernate/) for more details

[2018-06-24 13:31] mrozlukasz opened #36 "Compilation failure on fresh mvn clean install - not able to build locally"
Hi there,

I wanted to try out developing a new type and share a PR. One of my projects got that type in the code, so I thought I could share it here.

The problem is I cannot proceed with building it locally on my mac:

Java version: jdk1.8.0_152
Maven version: 3.5.4
OS name: "mac os x", version: "10.13.5"

Steps to reproduce:
1. `fork and clone`
2. `cd hibernate-types`
3. `mvn clean install`

An

[2018-06-24 13:44] vladmihalcea commented on #36
It's not clear from the issue what exactly failed to compile.

For me, it works just fine. Try to locate the actual class that fails to compile for you.

There's nothing needed other than what's already mentioned in the `README.md` document.

[2018-06-29 04:11] vladmihalcea commented on #36
Any news about the cause of the issue?

[2018-06-29 04:13] vladmihalcea commented on #35
Any news about the cause of the issue? Dix you manage to create a replicating test case?

[2018-06-30 12:47] mrozlukasz commented on #36
Thanks for response. I am checking it now. Had a busy week. I will update you about results. It looks like a compile plugin fails, not the code. Maybe some bug in latest maven ?

[2018-06-30 12:48] vladmihalcea commented on #36
It could be some Maven issue.

[2018-07-02 15:52] martinwithaar commented on #35
I haven't found the time to prepare the test case just yet. I hope to be able to provide one somewhere this week.

[2018-07-03 16:40] mrozlukasz commented on #36
Ok, I figured out. After switching between projects I had problems with jenv and homebrew. Maven pointed to different jdk than I had in JAVA_HOME. I will move towards development and doing an example PR, however I don't know how much time I will have for it. All the best.

[2018-07-03 16:40] #36 closed

[2018-07-12 06:44] x0a1b opened #37 "Support for Hibernate v5.3"
Does `hibernate-types` support Hibernate 5.3 at all?

[2018-07-12 06:47] vladmihalcea commented on #37
Yes, it should work just fine.

[2018-07-12 06:47] #37 closed

[2018-07-12 07:59] kentkwan opened #38 "JsonStringSqlTypeDescriptor.getSqlType() mismatch MySQL57Dialect"
must use types.java_object to match MySQL57Dialect in hibernate version 5.2.
can represent when use "spring.jpa.hibernate.ddl-auto=create", "no dialect mapping for jdbc type: 1111" exception will be thrown.

[2018-07-12 08:03] vladmihalcea commented on #38
Send me a Pull Request that proves the issue. Use existing test cases as s reference.

[2018-07-12 16:35] x0a1b commented on #37
If I may ask which version `artifactId` should I use?

[2018-07-12 16:59] vladmihalcea commented on #37
I updated the [README](https://github.com/vladmihalcea/hibernate-types) so it's more clear now.

You should use the `hibernate-types-52` artifact.

[2018-07-26 08:09] vladmihalcea commented on #38
Closed as no test case was provided.

[2018-07-26 08:09] #38 closed

[2018-07-26 08:09] vladmihalcea commented on #35
I'll reopen it if a test case will be provided.

[2018-07-26 08:10] vladmihalcea commented on #34
Closed as no test case was provided.

[2018-07-26 08:10] #34 closed

[2018-08-08 09:15] dreis2211 opened #39 "String fields on entity as JSONB don't work correctly"
Hi,

we've recently discovered that String fields in entities don't work correctly with JSONB as a type. While data is persisted and can be read, jsonb operators like the ones from Postgres (e.g. `column->>'field'` ) won't work, which is a massive loss of functionality. The reason for this is that their not really persisted as valid JSONB. E.g. the String send to the database is the following:
[co

[2018-08-08 09:32] dreis2211 commented on #39
Sorry @vladmihalcea ,I hit the comment button too early. I was still updating the description.

[2018-08-08 09:35] vladmihalcea commented on #39
@dreis2211 Why are you using the `json` type with PostgreSQL? That's meant for MySQL and other database that want the JSON to be passed as Sting at the JDBC Driver level.

You should use `jsonb` with PostgreSQL as explained in [this linked article](https://vladmihalcea.com/how-to-map-json-objects-using-generic-hibernate-types/):

    @Column(columnDefinition = "jsonb")

[2018-08-08 09:37] dreis2211 commented on #39
It should be jsonb actually. If you change it to jsonb, it should still show the problem

[2018-08-08 09:39] dreis2211 commented on #39
I have the following patch that fixes my use-case:
[code]

I wonder if there is a better alternative.

[2018-08-08 09:40] vladmihalcea commented on #39
OK, please send me a Pull Request via GitHub. Thanks.

[2018-08-08 09:42] dreis2211 commented on #39
I wonder if that's safe though? Especially since it changes behaviour. Already persisted values might behave differently after this patch.

[2018-08-08 09:45] vladmihalcea commented on #39
That could be achieved via the [`Configuration`](https://github.com/vladmihalcea/hibernate-types/blob/master/hibernate-types-52/src/main/java/com/vladmihalcea/hibernate/type/util/Configuration.java) class which needs a new property to switch from the old to the new behavior.

[2018-08-08 09:48] dreis2211 commented on #39
And any take on `type.getTypeName().equals(String.class.getName())`? I find this rather ugly to be honest. Maybe you have a better idea?

[2018-08-08 10:12] dreis2211 commented on #39
What about?
[code]

[2018-08-08 10:13] vladmihalcea commented on #39
Send me the PR and I'll tell you.

[2018-08-08 11:59] vladmihalcea commented on #39
Fixed by [this commit](https://github.com/vladmihalcea/hibernate-types/commit/d635e75027fab1fdaf8b1ff5938dd2878aa08604).

[2018-08-08 11:59] #39 closed

[2018-08-14 11:12] mfvoid opened #41 "Parse Json from database to JsonNode encoding"
<dependency>
    <groupId>com.vladmihalcea</groupId>
    <artifactId>hibernate-types-52</artifactId>
    <version>2.2.2</version>
</dependency>

@Entity
@TypeDef(
        name = "jsonb-node",
        typeClass = JsonNodeStringType.class
)
public class Test implements Serializable {
	@Type(type = "jsonb-node")
	@Column(columnDefinition = "json")
	private JsonNode data;
	…
}

Hello,
First of all con

[2018-08-14 13:27] hieutran opened #42 "Problem with Java 8 LocalDateTime"
I have a Scope class like that
[code]
and use it to map with a PostgreSQL jsonb column
[code]

It works but the data store in jsonb column was
[code]

I think it would be better to use ISODate format on that case.

[2018-08-14 13:35] vladmihalcea commented on #42
You can use a custom [ObjectMapper](https://vladmihalcea.com/hibernate-types-customize-jackson-objectmapper/) for that.

[2018-08-14 13:35] #42 closed

[2018-08-14 13:44] vladmihalcea commented on #41
As long as the JDBC Driver uses UTF-8, just like the DB, you should be tine. You can also customize the Jackson ObjectMapper as explained in the articles provided in the README file.

[2018-08-14 13:44] #41 closed

[2018-09-06 08:26] vladmihalcea opened #43 "Add InetType for PostgreSQL"

[2018-09-06 13:43] vladmihalcea commented on #43
Fixed.

[2018-09-06 13:43] #43 closed

[2018-09-06 13:52] vladmihalcea opened #44 "Add support for the PostgreSQL hstore type"

[2018-09-28 10:37] JasonRui opened #45 "Map"
Hi, I have DTO have the field
`
@Type(type = "string-array")

@Column(columnDefinition = "text[]")

private List<String> tagIds = new ArrayList<>();
`

When I `session.saveOrUpdate(faqSource);`,

I got Exceptions:
18:35:50.806 ERROR c.w.c.f.w.s.e.ServiceExceptionResolver [COMPANY] java.util.ArrayList cannot be cast to [Ljava.lang.Object;
java.lang.ClassCastException: java.util.ArrayList cannot be

[2018-09-28 11:05] vladmihalcea commented on #45
You can find [a unit test that works like a charm](https://github.com/vladmihalcea/hibernate-types/blob/master/hibernate-types-43/src/test/java/com/vladmihalcea/hibernate/type/array/ArrayTypeTest.java), so just compare my test to your and see the difference.

[2018-09-28 11:05] #45 closed

[2018-10-11 16:39] TMSantos opened #46 "ClassCastException?"
Hi there!
I'm trying to use your types but when I build it I get this exception:

`msc.service.StartException in service jboss.persistenceunit."server-api.war#dgo": javax.persistence.PersistenceException: [PersistenceUnit: db-test] Unable to build Hibernate SessionFactory
server-api_1        |   at org.jboss.as.jpa.service.PersistenceUnitServiceImpl$1$1.run(PersistenceUnitServiceImpl.java:179)
ser

[2018-10-11 16:49] vladmihalcea commented on #46
Try to debug it and see what the problem is. It could be that JBoss does not provide the right Hibernate dependencies, especially the Hibernate-common-annotations one.

If you can replicate it with a test case, open a new issue and send the test case as a Pull Request.

[2018-10-11 16:49] #46 closed

[2018-10-11 18:10] TMSantos commented on #46
That's something that came to my mind also, ok thank you for your help! I'll try to debug more deeply. Have a nice day

[2018-10-11 18:17] vladmihalcea commented on #46
Sure thing. Have a nice day too.

[2018-10-16 12:18] abdelhakim-atmani commented on #35
Based on your documentation the library is looking for the file hibernate-types.properties or hibernate.properties where in a spring context we define the hibernate properties in the application file and all hibernate properties are prefixed by spring.jpa.properties.
It would be nice if the library is used in a spring context, the object mapper defined for spring should be used for the hibernate d

[2018-10-16 12:28] vladmihalcea commented on #35
Just because Spring uses the `spring.jpa.properties`, it does not mean you cannot embed a `hibernate.properties` file in the jar via the `main/resources` folder. Or, you can even use a Java System property too.

[2018-10-16 12:47] abdelhakim-atmani commented on #35
Yeah I agree but it forces us to define the hibernate properties in 2 different files which is not top.

[2018-10-16 12:48] vladmihalcea commented on #35
Send me a Pull Request with a fix if think this is worth adding. Thanks.

[2018-10-16 18:40] vladmihalcea opened #47 "Add continuous Integer solution for YearMonthType"
As explained in [this article](https://blog.jooq.org/2016/10/05/why-you-should-design-your-database-to-optimise-for-statistics/), a continuous Integer solution could be both more compact and get a better chance of an index hit when doing range queries.

[2018-10-16 18:44] lukaseder commented on #47
Cool, thanks!

Note, without continuous integers (i.e. an encoding that reflects the uniform distribution of the "year month" data type), you might even get "index hits" when you shouldn't. It can go both ways.

[2018-10-17 11:14] alexeykip opened #49 "Migrate to java 9"
Good morning. I can't migrate my project to Java 9 because hibernate.types.52 is incorrect module name.
Do you plan to rename the packages?

[2018-10-18 03:31] vladmihalcea commented on #49
Fixed by [this commit](https://github.com/vladmihalcea/hibernate-types/commit/ec22d7cd3f81b9e9bfcfbb39422edde54ec3f940).

[2018-10-18 03:31] #49 closed

[2018-10-18 03:54] alexeykip commented on #49
It works. Thks

[2018-10-18 04:46] vladmihalcea commented on #49
I released the version `2.3.2` with this fix. Soon, it should be available from Maven Central.

[2018-10-19 05:10] vladmihalcea opened #51 "Add types for java.time.Year and show how to persist java.time.Month"
Now that we have support for `YearMonth`, it's time to add support for  `java.time.Year` and show how to persist `java.time.Month`.

[2018-10-19 13:09] martinwithaar commented on #35
I can verify that moving the setting `hibernate.types.jackson.object.mapper` to a separate `hibernate.properties` file fixes my issue but it's strange that it's the only hibernate property that can't be read from a Spring `application.yml`.

[2018-10-19 13:17] vladmihalcea commented on #35
You should investigate the issue and propose a fix.

[2018-10-19 17:11] vladmihalcea commented on #35
I will have to try via a Hibernate `Integrator` or something similar to see whether I could register the types when the `SessionFactory` is built to get access to the supplied properties.

[2018-10-22 05:37] #51 closed

[2018-10-22 05:38] vladmihalcea commented on #47
Fixed

[2018-10-22 05:38] #47 closed

[2018-10-22 12:03] reitzmichnicht opened #52 "Add EnumSet as bitfield support"
Hi

Java recommends using EnumSets as bitfield or flags enums where every enum entry has its dedicated bit.
Can you add an example how an EnumSet inside an entity can be mapped to an integer column instead of having a 1:n relation?

Kind regards,
Michael

[2018-10-23 12:08] JWGmeligMeyling opened #53 "Add support for PostgreSQL Interval column type"
Hi Vlad,

I have a custom type for PGIntervals that I map to a Java duration. This is for example useful to map result sets of native queries that subtract one timestamp for another. Let me know if there's interest in adding it to the custom type library:

[code]

[2018-10-23 12:10] vladmihalcea commented on #53
Yes, sure. But you should extend the ImmutableType from this project which makes it easier to implement custom Types.

[2018-10-23 12:12] JWGmeligMeyling commented on #53
Yes this is the little snippet that I'm currently using, but I'll provide a PR that adheres to the project's conventions 😄

[2018-10-23 12:51] vladmihalcea commented on #53
Cool. Looking forward to it.

[2018-10-23 13:46] JWGmeligMeyling commented on #52
While this optimisation is safe to do at runtime, I'm rather reserved to extend this optimisation to the DB schema. For this reason, I prefer to persist enums by their String value rather than their ordinal, or even better, the PostgreSQLEnumType provided in this repository.

[2018-10-23 14:44] vladmihalcea commented on #52
`EnumSet` is a collection of Enum identifiers, so I think the Type is going to be useful since the default Enum can only store a single Enum value, while this one will encode multiple Enum values (e.g. toppings on a pizza).

[2018-10-23 15:01] JWGmeligMeyling commented on #52
I definitely see how it would be useful, but it just seems to dangerous to me for someone to mess up the ordinals 😄 So I personally wouldn't use it. I'd rather see a native array version of the existing enum type. Just my two cents!

[2018-10-24 15:03] jlarroque opened #54 "Support for Matrix persistence"
Hi there!

Great project!

Would be great if there is support to add a String matrix, like String[][] and not just String[].

[2018-10-24 15:07] vladmihalcea commented on #54
Based on the existing Type, send me a Pull Request with a new PostgreSQL Type to support multi-dimensional arrays.

[2018-10-24 15:36] vladmihalcea commented on #54
Better try to create a new Type for it and register on the entity property.

[2018-10-25 11:12] robocrack opened #55 "Could not load requested class"
I am getting the following error:
[code]

Any suggestions? I will update if I work out myself :+1:

[2018-10-25 11:31] vladmihalcea commented on #55
Looks like you didn't register the Type as suggested in the articles provided in the resources section of the GitHub repository.

[2018-10-25 12:46] robocrack commented on #55
@vladmihalcea , you sir are a legend! That worked perfectly. Thank you so much!

[2018-10-25 12:46] #55 closed

[2018-10-25 12:50] robocrack commented on #55
For the benefit of others -

I forgot to add the following annotation (type level) to the top of my entity.
[code]

[2018-10-26 14:52] vladmihalcea opened #56 "Add Iso8601MonthType to save the 1-based value instead of the 0-based Enum ordinal for a java.time.Month entity attribute"
The `java.time.Month` Enum saves the ordinal value starting from 0, even if the underlying month values are 1-based. This type should save the 1-based value in the DB as well.

[2018-10-31 20:08] alecharp opened #57 "Using JsonBinaryType to handle java.util.ArrayList"
Hello,

I'm trying to store a list of `String` in a PostgreSQL `Array`. Do to that, I found your library which seems to be solving this problem but I cannot figure out how to use it properly.

I have this

[code]

and the database value is

[code]

and I get

[code]

which make sense, as an array would start with `[` and not `{`. But it seems that `ARRAY` in PostgreSQL are in `{}` and not `[]`.

C

[2018-10-31 20:18] vladmihalcea commented on #57
That value is not a proper JSON object. That's why it does not work.

[2018-10-31 20:18] #57 closed

[2018-11-05 07:04] santpandey commented on #56
Hi. Could you please provide more context(As in what is the actual expectation). I am willing to solve this issue.

[2018-11-05 07:18] vladmihalcea commented on #56
The issue description already mentions the expectation. Instead of the Enum ordinal, this Type should save the actual Month integer value, which is ordinal plus 1.

[2018-11-21 11:39] oisti commented on #46
Hi!

I'm getting the same ClassCastException on my Wildfly 14.0.1.Final regardless of types.
Dependencies provided by Wildfly 14.0.1.Final are:
hibernate-core 5.3.6.Final
hibernate-commons-annotations 5.0.4.Final

Thanks

[2018-11-21 11:48] vladmihalcea commented on #46
Check out the previous comments.

[2018-11-27 20:26] NazirLKC opened #58 "Add EnumArrayType to support mapping database Enums as Java arrays"
Hi,

Can you include the EnumArrayType you created [here](https://github.com/vladmihalcea/high-performance-java-persistence/blob/5.2/core/src/main/java/com/vladmihalcea/book/hpjp/hibernate/type/array/EnumArrayType.java) in this repo? That would be very helpful.

[2018-11-30 15:40] NazirLKC commented on #58
After looking more into the code I referenced above, I noticed that it didn't quite meet my requirements. The EnumArrayType was translating Java enum arrays into integer arrays in PostgreSQL instead of enum type arrays. I've made some changes to the above code to be able to support PostgreSQL's enum type arrays in a generic way. I will create a pull request shortly for your review. Any feedback wo

[2018-11-30 15:45] NazirLKC commented on #58
The pull request is here #59

[2018-11-30 21:41] vladmihalcea commented on #58
Cool. I'll check it out when I have some time.

[2018-12-03 08:26] #58 closed, assigned to nobody

[2018-12-03 08:49] vladmihalcea commented on #58
This is available from version 2.3.5.

[2018-12-03 14:58] NazirLKC commented on #58
Awesome, thanks!

[2018-12-06 13:34] jelmew opened #60 "@JsonIgnoreProperties(ignoreUnknown = true) seems to be ignored"
Hi

We are using this library in our system and we ran into the following issue. It seems that fasterXML annotations such as` @JsonIgnoreProperties(ignoreUnknown = true)` seem to be ignored, making deserialization fail. Is this behaviour as intended (I do not know with my limited jackson/fasterXML knowledge).

Kind regards,
Jelmer

[2018-12-06 13:45] vladmihalcea commented on #60
It's unclear what the problem is. You need to provide a replicating test case. Fork the repository and create a new test case that demonstrates this issue. Send a Pull Request when you are done.

[2018-12-06 14:30] jelmew commented on #60
HI. I'll try to do so tomorrow.

[2018-12-06 14:32] vladmihalcea commented on #60
Great. I'll check it out once you have an example I can debug.

[2018-12-06 14:33] jelmew commented on #60
Hi. I'm just being corrected by a colleague. We didn't look into the log and it was functioning correctly. Closing this issue.

[2018-12-06 14:33] #60 closed

[2018-12-07 13:10] StanislavGubanov opened #61 "Pass array types in PostgreSQL functions as parameters in JPA query"
Hello, Vlad.

How use array types in PostgreSQL database functions with array params in JPA

https://www.postgresql.org/docs/current/functions-array.html

function for example:
[code]
###

[2018-12-07 13:14] vladmihalcea commented on #61
The ARRAY support in hibernate-types is for entity properties only. This is not supported with stored procedures as they don't take a Hibernate Type.

The only way to use ARRAY with stored procedures is via JDBC or using jOOQ.

[2018-12-07 16:45] vladmihalcea commented on #61
[This commit](https://github.com/vladmihalcea/hibernate-types/commit/e87179d65021024ec06c624535df3c67f39ba69e) shows how you can do it:

CriteriaBuilder cb = entityManager.getCriteriaBuilder();
CriteriaQuery<Event> cq = cb.createQuery(Event.class);
Root<Event> root = cq.from(Event.class);
cq.select(root);

[code]

Notice the `unwrap` to `org.hibernate.query.Query.class` and passing the `IntArrayTy

[2018-12-07 16:45] #61 closed

[2018-12-10 03:34] xudaile commented on #32
@dgks0n @vladmihalcea I have the same problem. How to solve the problem in the end？
@Type(type = "jsonb")
    @Column(name = "research_age_group",columnDefinition = "jsonb")
    private List<ResearchReportAgeGroup> researchAgeGroup=new ArrayList<>();
use JPA can be save ,but not be transform
 The given string value: [{"pois": [{"city": "北京", "name": "测试POI", "type": "交通枢纽", "poi_id": "B0001232", "

[2018-12-17 12:03] nstdio commented on #44
@vladmihalcea can I take this?

[2018-12-17 12:10] vladmihalcea commented on #44
Sure thing. Thanks for taking care of it.

[2018-12-19 11:30] mguilherme opened #65 "Polymorphic List"
I'm trying to create a List with polymorphic to a jsonb without success!
- I have no objectMapper custom configuration
- Normal List and String List works.
- Polymorphic without List works just fine

The action column retains de @class property in json, the actions columns does not!

Source:

[code]

[2018-12-19 11:33] #65 closed

[2018-12-19 11:36] mguilherme commented on #65
Thanks for the clarification @vladmihalcea

[2018-12-24 10:48] vladmihalcea opened #66 "Add support for PostgeSQL range type"
Add support for PostgeSQL range type.

[2018-12-24 10:49] vladmihalcea commented on #66
Fixed by [this Pull Request](https://github.com/vladmihalcea/hibernate-types/pull/63).

[2018-12-24 10:49] #66 closed

[2018-12-27 19:19] AbdulR3hman opened #67 "Jackson serialization exception for range"
There is a problem when using the new ranges that was just recently merged with master #64  and the problem was due to no public getters/setters in the Range class.

I'm happy to fix it if allowed. I've fixed it locally by adding getters and setters for the upper and lower limits.

[2018-12-27 19:50] vladmihalcea commented on #67
@AbdulR3hman Thanks for the ifx. Looking forward to it. Make sure you add a test case too.

[2018-12-28 05:54] saurabhprakash opened #69 "Exception: Unable to load class [jsonb]"
I'm following this doc for setup:

https://vladmihalcea.com/how-to-map-json-collections-using-jpa-and-hibernate/

Other related versions are: springboot(2.1)+postgres(10.5)+hibernate(5.3.7).

Following are changes in file:

In pom.xml

    ....
    <dependency>
        <groupId>com.vladmihalcea</groupId>
        <artifactId>hibernate-types-52</artifactId>
        <version>2.3.5</version>
    </dep

[2018-12-28 06:47] vladmihalcea commented on #69
Fork the project and run the JSON test cases in debug to see why mine work and your application does not.

I'll leave the issue open for a while so that you can add the solution to this problem. Most likely, it's a configuration issue.

[2018-12-31 07:32] saurabhprakash commented on #69
This worked post doing a  force maven clean install ("mvn -f pom.xml clean install")

Thanks for reply 👍

[2018-12-31 07:32] #69 closed

[2019-01-02 11:36] vladmihalcea commented on #44
Fixed by [this commit](https://github.com/vladmihalcea/hibernate-types/commit/1eca8e0c3f5dec76cbe07c07d6313c1dd7629e2c).

[2019-01-02 11:36] #44 closed

[2019-01-02 11:37] vladmihalcea commented on #67
Could be fixed by [this commit](https://github.com/vladmihalcea/hibernate-types/commit/9162090147a9e3014837e0041f4a6189216719da). If it's not, please reopen the issue.

[2019-01-02 11:37] #67 closed

[2019-01-02 14:04] andyflury opened #70 "JsonStringType throws an NPE when using with Hibernate XML"
Hi @vladmihalcea

Congrats to your project!

I'm try to use your JsonStringType with Hibernate XML (unfortunately we are not using Hibernate Annotations in our project). The field is configured like this.

[code]
Unfortunately com.vladmihalcea.hibernate.type.json.internal.JsonTypeDescriptor.setParameterValues (line 57) is receiving an empty Properties object and throws an NPE due to that.

The fix

[2019-01-02 14:12] vladmihalcea commented on #70
@andyflury The XML `type` could also contain a short-name for the `type` as defined by the `type-def` tag, in which case this solution will break.

The legacy XML mappings are deprecated anyway, and since you can combine XML and annotations so that you can define just the `@Type` definitions using annotations, I think this issue does not need any change.

You can use `@TypeDef` at package-level or

[2019-01-02 16:31] vladmihalcea commented on #70
You can use XML and annotations, you don't have to choose one or the other. [This article](https://vladmihalcea.com/how-to-replace-the-table-identifier-generator-with-either-sequence-or-identity-in-a-portable-way/) explains how you can do that.

The current issue here is with Hibernate since it does not apply the dynamic parameters to HBM mappings. So, you need to open a Jira issue with a replicat

[2019-01-02 16:41] vladmihalcea commented on #70
I think that the dynamic parameters cannot work for XML. Send me a Pull Request with a replicating test case and a fix and I'll review it when it's ready.

[2019-01-02 16:47] andyflury commented on #70
Thanks @vladmihalcea
Yes, I'm aware that technically annotations and XML can be mixed. In our case this was more of a management decision to stick to XML for now, so even if it is technically possible I have to stick to XML.

Is there some other way with your library to set the actual type in use by JsonStringType? I see that the class has two constructions that take a javaType argument. Is there

[2019-01-02 17:15] andyflury commented on #70
Ok, I'll prepare a PR with a test case and a fix. Thanks!

[2019-01-02 17:44] vladmihalcea commented on #70
You can register the `JsonStringType` like this:

[code]

or via the `MetadataBuilder` during bootstrap:

[code]

[2019-01-02 17:52] vladmihalcea commented on #70
I also think that this will work, but I didn't test it:

[code]
I noticed that you used `java.util.HashMap` to store the JSON, but that's not supported. You need a Java Bean that can be properly marshalled to a JSON.

[2019-01-03 13:35] nemecec opened #72 "Support for Java enums with explicit database ID value"
After reading https://vladmihalcea.com/the-best-way-to-map-an-enum-type-with-jpa-and-hibernate/ I came up with an alternative solution that could be added to hibernate-types:

Have a `byte`/`int` field in each Java enum class with the DB persistent ID value. Have all such enums implement an interface with getter for that field (e.g. `getDatabaseValue()`). And implement a custom converter to conver

[2019-01-03 13:50] vladmihalcea commented on #72
I don't see the advantage over using ordinal. The databaseId sounds like the Enum will be stored in a separate table, I'm which case ordinal works just fine combined with a shared identifier.

This solution looks overly complicated for a generic Type. It's better to be implemented as a project-specific Type.

[2019-01-03 13:50] #72 closed

[2019-01-03 18:42] vladmihalcea commented on #70
I think you could achieve the same goal to set the `javaType` via the `setParameterValues` as long as you provide the `Properties` object so that you get the Type from the `PARAMETER_TYPE` property:

    type = ((ParameterType) parameters.get(PARAMETER_TYPE)).getReturnedClass();

So, I don't think we need to modify the constructor either. All in all, I'm glad it works for you.

[2019-01-03 18:42] #70 closed

[2019-01-03 19:11] andyflury commented on #70
Problem is again that `getReturnedClass()` returns a `Class` and not a `Type`. `ParameterizedType `is a `Type `but not a `Class`.

When running your `MySQLGenericJsonTypeTest` actually the following line is executed instead of the one you mentioned:

`type = ReflectionUtils.invokeGetter(xProperty, "javaType");`

Coming back to my suggestion. The `JsonStringType` constructor args `Class` are really

[2019-01-03 19:13] vladmihalcea commented on #70
Send me a Pull Request with a test case containing the HBM mapping, the bootstrap example and the constructor signature change. I'll review it when it's ready. Cheers.

[2019-01-03 19:48] andyflury commented on #70
I just created a pull request with the constructor signature change. I think there is no need to cover the HBM mapping after our discussion. Creating the JsonStringType programatically works just fine for our case.

[2019-01-03 19:52] vladmihalcea commented on #70
I won't integrate it unless you provide a test case too. Cheers.

[2019-01-06 11:42] vladmihalcea commented on #70
They should probably have different names. Anyway, this only applies if the Type is provided during bootstrap, not via annotations.

[2019-01-15 15:41] deviant-studio commented on #32
same issue with deserializing map `Map<Long, Metrics>`
serialization works ok, but extraction throws:
[code]

[2019-01-15 15:58] vladmihalcea commented on #32
Looks like the key was not saved properly. Try to replicate it with a test case.

[2019-01-17 13:32] guptavivek792 commented on #25
Mapping the JSON type to a String in Java and then just use a @Transient toJsonNode method would be a solution.

[2019-01-22 13:26] Stexxen opened #77 "RFI on differences between JsonStringType JsonNodeStringType"
I can see that `JsonNodeStringType` is extending `AbstractSingleColumnStandardBasicType<JsonNode>` as opposed to `<Object>` for the `JsonStringType` class.

But the biggest difference appears to be the use of the interface `DynamicParameterizedType`

Could you possible explain it's use, and hopefully that will help me understand why a specific JsonNode version was created?

[2019-01-22 13:30] vladmihalcea commented on #77
Just read [the first two articles](https://github.com/vladmihalcea/hibernate-types) provided in the README document and run the aforementioned unit tests in this repository you will understand the difference.

[2019-01-22 13:30] #77 closed

[2019-01-22 13:59] Stexxen commented on #77
Perhaps my question wasn't worded in the best way.

I have read both articles and in them you state

Now that statement applies to PostgreSQL, as it uses the Binary type, I assume the same statement applies to MySQL with the String type.

Now I've experimented with JsonNodeStringType and JsonStringType to persist a JsonNode object and both work great. Hence my confusion.

Now it could be that a co

[2019-01-22 14:06] vladmihalcea commented on #77
That statement is about Hibernate support for a Java object type, so it applies to any RDBMS that can store JSON.

`JsonNodeStringType` is for `JsonNode` while `JsonStringType` is for POJOs.

[2019-01-22 14:49] vladmihalcea commented on #77
In the beginning, the `JsonStringType` did not get the type from the annotated property. Nowadays, you can use the `JsonStringType` even for `JsonNode`, so you can use either one.

[2019-01-22 14:52] Stexxen commented on #77
That's what I was wondering, so thanks for clarifying.

You've created an Excellent library.
Thanks.

[2019-01-22 15:18] vladmihalcea commented on #77
Thanks. If you like this library, you are going to love my [High-Performance Java Persistence book](https://vladmihalcea.com/books/high-performance-java-persistence/) even more.

[2019-01-23 02:50] Simbosan opened #78 "Issue with ZonedDateTimeRanges and DST"
I have a Range field in my @Entity

@TypeDef(name = "range", typeClass = PostgreSQLRangeType.class, defaultForType = Range.class)
public class BiomaterialTimeWindowed extends Biomaterial
{
    Range<ZonedDateTime> activeRange;

This maps to a tstzrange column in the table

When you store a value it modifies the offset if the date falls within DST so therefore:

activeRange = Range.zonedDateTimeRan

[2019-01-23 05:57] vladmihalcea commented on #78
Send me a Pull Request with a test case that replicates the issue. I'll check it out afterwards.

[2019-01-23 22:13] Simbosan commented on #78
Need a Postgres instance so I've created a simple Spring Boot application that demos the problem

The class CreateEntitiesWithTestRanges contains comments on how to reproduce

https://github.com/Simbosan/tztzrange-bug

Cheers

Simon

[2019-01-29 21:57] Simbosan commented on #78
Pull request created. Fingers crossed I did it right

[2019-01-29 21:58] vladmihalcea commented on #78
Thanks. I'll check it out when I have some time.

[2019-01-31 19:48] gunnarmorling opened #80 "Support insertion of String values into JSON columns"
I have a `String` property which contains a JSON representation. Inserting this into a PG "json" column fails:

    postgres_1       | ERROR:  column "payload" is of type json but expression is of type character varying at character 89
    postgres_1       | HINT:  You will need to rewrite or cast the expression

It would be nice to have support for this without having to parse the value into a `J

[2019-01-31 21:00] vladmihalcea commented on #78
Thanks. I fixed it with [this commit](https://github.com/vladmihalcea/hibernate-types/commit/eea1e37eab0f0bcfa154db22065f0fbae1e03557).

[2019-01-31 21:00] #78 closed

[2019-01-31 21:11] vladmihalcea commented on #80
The [`PostgreSQLJsonStringPropertyTest`](https://github.com/vladmihalcea/hibernate-types/blob/master/hibernate-types-52/src/test/java/com/vladmihalcea/hibernate/type/json/PostgreSQLJsonStringPropertyTest.java) demonstrates that this feature is already supported.

This is mapping that you need to set:

    @Type(type = "jsonb")
    @Column(columnDefinition = "jsonb")
    private String properties;

[2019-01-31 21:11] #80 closed

[2019-02-01 00:46] Simbosan commented on #78
Nice, thanks very much.  I had tried with OffsetDateTime but didn't have time to work it all the way through.

Will this appear on Maven or should I clone and use that?

[2019-02-01 06:13] vladmihalcea commented on #78
I will release a new version soon.

[2019-02-01 15:50] vladmihalcea commented on #78
I released the 2.4.1 version which contains the fix for this issue.

[2019-02-01 23:45] Simbosan commented on #78
Brilliant, thanks very much.

[2019-03-08 01:37] davidpolberger opened #83 "NullPointerException when using a StringArrayType with SqlResultSetMapping"
A native query of ours returns a column whose value is a long array (`bigint[]` in PostgreSQL). We need to map the results to DTO instances and we use `@SqlResultSetMapping` and `@ConstructorResult` to do so. As long arrays are not supported out of the box, we use the `type` attribute of `@ColumnResult` and set it to `StringArrayType.class`.

Unfortunately, this results in a NullPointerException i

[2019-03-08 02:27] vladmihalcea commented on #83
You need to replicate it with a test case first. Use one of the existing tests as a template.

[2019-03-08 21:45] jltnf54 opened #84 "EnumArrayType issue when have multiple fields with different enums arrays"
I am having an issue using multiple enum type arrays in the same entity. See below

`
@Entity
@TypeDefs({
  @TypeDef(name = "pgsql_enum_array", typeClass = EnumArrayType.class),
`
and fields:
`
  @Column(columnDefinition = "my_type[]")
  @Type(
      type = "pgsql_enum_array",
      parameters = {@Parameter(name = EnumArrayType.SQL_ARRAY_TYPE, value = "my_type")})
  private MyType[] mytype;

  @Co

[2019-03-08 22:03] vladmihalcea commented on #84
This needs to be handled like JSON types. So, you need to create a replicating test case and provide a fix in a similar way as `JsonNodeBinaryType`.

I'll take a look after you submit the Pull Request.

[2019-03-08 22:35] jltnf54 commented on #84
so i can contribute in a pull request?

[2019-03-08 22:36] jltnf54 commented on #84
i will submit one shortly

[2019-03-08 22:36] vladmihalcea commented on #84
That's the spirit of open source software development.

[2019-03-14 17:54] PaulSeiziger opened #85 "java.lang.ClassNotFoundException when ArrayList used"
Hi, I have a problem with the ArrayList serialization in Jsonb format. I use PlayFramework. Did everything as stated in the article.

Here are my entities:
[code]

But when trying to serialize an ArrayList, it returns a ClassLoader null.
[code]
And everything falls with an error:
[code]
How can I avoid this problem?

[2019-03-14 18:00] vladmihalcea commented on #85
`Caused by: java.io.NotSerializableException: entities.OutgoingBillPart`

The `OutgoingBillPart` conatins some properties that don't implement `Serializable`. Try to debug it and see why it generates the problem.

Also, if you find a problem, you need to provide a replicating test case and a fix. I'll take a look at it once you are done with your Pull Request.

[2019-03-15 09:25] PaulSeiziger commented on #85
I do not think that I can provide a replicatable test, because The problem seems to be in the interaction of the library and my framework. Since playframework uses its own ClassLoader, and SerializationHelper requests the classloader from ArrayList and gets null (https://www.baeldung.com/java-classloaders). In the two fallback classloaders, there are classes from my libraries, but not my project.

[2019-03-15 09:37] vladmihalcea commented on #85
Yes, you can provide a replicating test case that shows the issue. You don't have to use the same stack you are using in your application. Just make sure you provide the same context. For instance, you can provide a custom ClassLoader during the test which provides the context that triggers the issue.

More, you could change the `ObjectMapperJsonSerializer` so that it uses this:

[code]

when you

[2019-03-25 11:01] Hemalrajapaksha opened #88 "java.lang.IllegalArgumentException: The given string value: {"uuid": ".........l} cannot be transformed to Json object"
@vladmihalcea , I'm using com.vladmihalcea version 4.3 for saving several JSONs objects in my PostgreSQL database
data saving part is working as expected but there is an issue when deserializing particular rows.

[code]

[code]

When listing both tables 1st table is working fine. When retrieving the second it gives the above error.
The issue is inside JsonTypeDescriptor.java
`
[code]

jsonObjectCl

[2019-03-25 14:05] vladmihalcea commented on #88
Try to replicate the issue with a test case. Once you could replicated it, send me a Pull Request so I could take a look on it.

[2019-03-27 23:10] calvequi opened #89 "Problem with pattern in tstzrange"
Hi @vladmihalcea, I am having an issue when timestamp values (in tstzrange columns) only have 4 digits for nanoseconds. My entity has a Range<ZonedDateTime> property mapped to tstzrange column:

`
@MappedSuperclass
@SuperBuilder(toBuilder = true)
@NoArgsConstructor(access = AccessLevel.PROTECTED)
@Setter(value = AccessLevel.PACKAGE)
@Getter
@EqualsAndHashCode(of = "uuid")
@TypeDef(
    typeClass =

[2019-03-27 23:54] vladmihalcea commented on #89
You need to add the replicating test case and the fix as well. I'll take a look at it once you are done.

[2019-04-05 14:18] vladmihalcea commented on #83
Closed because no replicating test case was sent.

[2019-04-05 14:18] #83 closed

[2019-04-05 14:19] vladmihalcea commented on #85
Closed because no replicating test case was sent.

[2019-04-05 14:19] #85 closed

[2019-04-05 14:19] vladmihalcea commented on #88
Closed because no replicating test case was sent.

[2019-04-05 14:19] #88 closed

[2019-04-05 14:20] vladmihalcea commented on #89
Closed because no replicating test case was sent.

[2019-04-05 14:20] #89 closed

[2019-04-05 21:24] davidpolberger commented on #83
I'm afraid I haven't had time to write a test case, nor do I see that changing in the near future. I'm hoping that people experiencing the same problem find this issue and can make use of the sample source code I posted.

[2019-04-06 05:02] vladmihalcea commented on #83
@davidpolberger I wrote [a test case](https://github.com/vladmihalcea/hibernate-types/commit/969fab0f0bc7e28358c38cab5200bc13994acfcb) and I could not replicate your issue.

Hence, there is no problem from my point of view. What you probably didn't do in your case is to use the `metadata_builder_contributor` to provide the types to be discovered by Hibernate. Check out [this commit](https://github

[2019-04-07 04:58] vladmihalcea commented on #84
Fixed.

[2019-04-07 04:58] #84 closed

[2019-04-07 05:39] vladmihalcea commented on #89
Released in 2.4.3.

[2019-04-07 05:39] vladmihalcea commented on #84
Released in 2.4.3.

[2019-04-09 16:01] mdiotude opened #92 "Cannot use @OneToMany relations to entities having jsonb columns when using TABLE_PER_CLASS inheritance"
I have a project where I have two related entities, let's say A and B, using the `TABLE_PER_CLASS` inheritance strategy. In this case B extends A. Another entity C has a `@OneToMany` relation to the base class A. When trying to retrieve the items for the collection of A in C Hibernate performs a query with a `UNION ALL` clause between A and B.
In the above situation when should B contain a jsonb t

[2019-04-09 16:07] vladmihalcea commented on #92
As I explained in my [High-Performance Java Persistence book](https://vladmihalcea.com/books/high-performance-java-persistence/), the TABLE_PER_CLASS inheritance strategy is a terrible idea. You should never use it.

Therefore, I don't think it's worth fixing a use case you should never use.

What you describe is probably a Hibernate issue than a issue in this framework. Therefore, you should inve

[2019-04-09 16:07] #92 closed

[2019-04-09 17:24] vladmihalcea commented on #92
[This article](https://vladmihalcea.com/hibernate-no-dialect-mapping-for-jdbc-type/) can help you as well.

[2019-04-09 18:14] mdiotude commented on #92
Thanks! I'll definitely try overriding the Dialect, hopefully it helps with my case. I'd rather avoid changing the inheritance at this time.

I understand your position regarding this particular issue, but I still have concerns that there might be some mapping missing in your framework.
The root cause is that Hibernate somehow "thinks" that the native type for jsonb columns is "uuid", which sort o

[2019-04-09 18:17] vladmihalcea commented on #92
The problem is not in this framework. It's due to how Hibernate maps Types.OTHER for PostgreSQL. I had one proposal to the Hibernate IRM project, but if was postponed for 6.0. So, either it will be fixed in Hibernate ORM or you will have to take care if it in your application.

[2019-04-09 18:47] mdiotude commented on #92
Yes, I get your point. Customizing the dialect does feel like a workaround to me, so I can understand why you don't want such a thing in your framework.
I've also been having trouble with Hibernate's mappings for Oracle. Then too I had to create a custom dialect. There is definitely some room for improvement in how Hibernate does its mappings.

I do use FlywayDB actually :) I was following your ar

[2019-04-09 18:56] vladmihalcea commented on #92
You're welcome and enjoy reading it. You're going to love it.

[2019-04-12 18:33] mnesarco opened #93 "java.lang.NoClassDefFoundError: org/hibernate/annotations/common/reflection/XProperty"
Hi, I am trying to use this lib in a webapp, deployed to Wildfly 16 (hibernate 5.3.9).
I have added the dependency:

[code]

My dependency to hibernate-code is in provided scope.

I got this exception on deploy:

[code]

Do I have to add an explicit dependency to hibernate-annotations in the compile scope?

[2019-04-12 18:42] vladmihalcea commented on #93
This is most likely caused by a [`hibernate-commons-annotations`](https://mvnrepository.com/artifact/org.hibernate.common/hibernate-commons-annotations) incompatibility. Check out the application server for the version supplied for this dependency and compare it to the one used by this GitHub repository.

[2019-04-12 18:42] #93 closed

[2019-04-17 09:06] komalbb opened #94 "Unable to deserialise a jsonb on inserting same row twice."
Hi,

I am using PostgreSQL(11) and Dropwizard hibernate(5.2).
I have the following schema in which I am trying to write data to.

I am using hibernate-types for jsonb data type mapping.

I am able to persist the data for the first time. From next time, onwards if I am trying to insert the same data to the sql, I am getting exception for deserialisation. Can you please help why this is happening?

[2019-04-17 09:10] vladmihalcea commented on #94
The error `The given string value: {"skuId": 100, "farmerId": 123, "quantity": 10, "storageId": 123, "timestamp": 61516216850000, "containerType": "ABC"} cannot be transformed to Json object` is because your JSON is malformed.

If you can replicate the issue with a test case in this repository, then you should open a new issue indicating the problem.

[2019-04-17 09:10] #94 closed

[2019-04-17 13:03] komalbb commented on #94
@vladmihalcea, I will try on my setup. Can you please share the wiki on how to setup the code repository?

[2019-04-17 13:05] vladmihalcea commented on #94
It's a Maven project. Just set the Java Home environment variable as specified in the pom.xml.

[2019-04-23 11:00] agolovenko opened #95 "Add support for DDL in PostgreSQL arrays"
While using this lib PostgreSQL arrays works fine, the testing is limited. During DB initialisation phase hibernate fails to generate a proper DDL for tables that have array types mapped with exception:

`Caused by: org.hibernate.MappingException: No Dialect mapping for JDBC type: 2003`

Would be really nice to have DDL support for array types as well.
Otherwise great lib, many thanks!

[2019-04-23 11:03] vladmihalcea commented on #95
Everything works just fine already. If this was not supported, then no test could run as the DDL is generated automatically prior to every run.

[2019-04-23 11:03] #95 closed

[2019-05-09 09:04] tipenull opened #96 "Support for Range of OffsetDateTime"
Currently only Range<LocalDateTime> is mapped to tstzrange.
However, the default java type for timestamptz is OffsetDateTime rather than LocalDateTime - which seems adequate since timestamptz doesn't actually carry a time zone, but an offset.
Hence, I'd expect Range<OffsetDateTime> to be mapped to tstzrange.

[2019-05-09 10:07] vladmihalcea commented on #96
Where did you get this from? There is no default Java mapping between PostgreSQL column types and Java types.

That's also not true. The `timestamptz` column type is a timezone-aware type. When you insert a value into a `timestamptz` column, PostgreSQL will convert the `timestamptz` value to its UTC equivalent.

Which is already the case for a `Range<ZonedDateTime>`.

Hence, there's no issue.

[2019-05-09 10:53] tipenull commented on #96
It's specified for the PostgreSQL JDBC driver ([https://jdbc.postgresql.org/documentation/head/8-date-time.html](url)). 'Default' was definitely too broad of a phrasing.

I meant to specify Range<OffsetDateTime>. Funny that I forgot that of all things.

[2019-05-09 10:55] vladmihalcea commented on #96
In that case, you should provide a Pull Request with

[2019-05-09 23:17] nstdio commented on #96
@tipenull I think you are right

Here is quote from documentation: `Note that ZonedDateTime, Instant and OffsetTime / TIME WITH TIME ZONE are not supported` and [here](https://stackoverflow.com/questions/30234594/whats-the-difference-between-java-8-zoneddatetime-and-offsetdatetime) is why.

[2019-05-10 10:22] nstdio commented on #96
@vladmihalcea @tipenull

I was trying to figure out how to replace the `ZonedDateTime` to `OffsetDateTime` of it turn's out that it no so easy to do it with backward compatibility. Obviously we can deprecate all things connected with `ZonedDateTime` and provide `OffsetDateTime` equivalents, but if we change mapping for `tstzrange` and return `Range<OffsetDateTime>` instead of `Range<ZonedDateTime>

[2019-05-10 11:05] vladmihalcea commented on #96
You can add a Configuration and leave the default as-is. But if you specify the config, you switch to using OffsetDateTime instead.

Check out the JSON Types for more details as they have some configs that can be applied.

[2019-05-20 10:58] kiview commented on #93
This seems to happen when using `hibernate-commons-annotations-5.0.1`, which is the dependency of Hibernate `5.1.10`.

So this means `hibernate-types` is incompatible with Hibernate `5.1.10`, or is there are workaround?

[2019-05-20 11:25] vladmihalcea commented on #93
Currently, the only workaround is to upgrade the `hibernate-commons-annotations` version. That should not impact Hibernate, so why not do the update anyway?

[2019-05-24 08:50] bendem opened #97 "Add support for mapping ARRAY to a java.util.List"
You can already map a postgresql ARRAY to a java array, but using raw arrays is not exactly idiomatic in java. Would'nt it make sense to allow mapping it to a `Collection` instead?

[2019-05-24 09:20] vladmihalcea commented on #97
Yes, it can be done. Send me a Pull Request with the implementation. Looking forward to it.

[2019-05-24 19:32] sivaalli opened #98 "Postgres inserting to json column type using JsonNode"
Hi Vlad Mihalcea,

Thanks for your great work on creating json types for JPA/hibernate.

My use case is to have a JsonNode property type in Entity and wanted to map it to json column type in Postgres. When I implement this using TypeDef with typeClass as JsonNodeStringType, I'm seeing an error
`org.postgresql.util.PSQLException: ERROR: column "node" is of type json but expression is of type charac

[2019-05-24 19:34] vladmihalcea commented on #98
That's by design. Use `JsonNodeBinaryType` with PostgreSQL. `JsonNodeStringType` is for MySQL, as explained in the provided examples.

[2019-05-24 19:41] sivaalli commented on #98
Ok. I think java doc is misleading. It just says "Maps a Jackson {@link JsonNode} on a String JSON column type" but does not specifically call out for MySQL database.

[2019-05-24 19:56] vladmihalcea commented on #98
You should send me a PullRequest with the fix.

[2019-05-29 10:02] Cepr0 opened #100 "In case the JSON attribute is a java.util.Set, an additional SQL UPDATE is executed when persisting the entity"
If the JSON attribute in the entity is `Set`, like the following for example:
[code]
then the extra update is performed when we create a new entity:
[code]
This issue occurs regardless of the type parameter of the `Set` - either simple type, enum or POJO. It occurs with `EnumSet` as well.

The issue can be fixed by adding the following check to the begging of `areEqual` method in `JsonTypeDescript

[2019-05-29 10:06] vladmihalcea commented on #100
Please send a Pull Request with the change so that I can debug it too. Thanks.

[2019-05-29 10:37] Cepr0 commented on #100
Have done: [#101](https://github.com/vladmihalcea/hibernate-types/pull/101)

[2019-05-29 12:49] vladmihalcea commented on #100
Thanks. I'll review it when I have some time.

[2019-05-31 00:41] stonio opened #102 "Support for ZoneId type"
Can you add support for `java.time.ZoneId` similar to `org.hibernate.type.descriptor.java.TimeZoneTypeDescriptor`?

[2019-05-31 02:57] vladmihalcea commented on #102
I don't know what you are talking about. If you have some improvement idea, you need to send a Pull Request with the fix. I'll review it afterward.

[2019-06-06 12:24] vladmihalcea commented on #100
Fixed.

[2019-06-06 12:24] #100 closed

[2019-06-06 16:07] #102 closed

[2019-06-06 16:09] vladmihalcea commented on #98
Fixed in 2.4.4.

[2019-06-06 16:09] #98 closed

[2019-06-07 18:30] racevedoo opened #104 "Postgres UUID array support"
Hi,

Are there any plans to support postgres uuid arrays?

Thanks!

[2019-06-07 18:46] vladmihalcea commented on #104
If you want this feature, you need to implement it and send a Pull Request. I'll review it when it's ready.

[2019-06-07 20:06] racevedoo commented on #104
I have a version that apparently works for `hibernate-types-52`, but I'd like some validations on your end before I implement for the other versions.

I'll open the PR now with `hibernate-types-52` only, and if the solution looks good, I can replicate for other hibernate versions. Sounds good?

[2019-06-07 20:06] vladmihalcea commented on #104
Sounds great!

[2019-06-07 20:10] racevedoo commented on #104
PR: https://github.com/vladmihalcea/hibernate-types/pull/105

[2019-07-05 08:47] vladmihalcea commented on #104
Applied upstream, thanks

[2019-07-05 08:47] #104 closed

[2019-07-05 08:48] vladmihalcea opened #107 "Allow the Configuration to be accessed by all custom Types"
Currently, there is no way to bootstrap the configuration for all custom Types. This issue will address this limitation.

[2019-07-05 12:50] vladmihalcea commented on #107
Fixed.

[2019-07-05 12:50] #107 closed

[2019-07-08 20:58] aardbol opened #108 "What about ipv6"
I'm looking into using the Inet class; but it seems like only ipv4 is supported, looking at Inet4Address. What about ipv6? It's 2019 you know :-)

[2019-07-09 03:22] vladmihalcea commented on #108
Have you tested it for Ipv6? It might work just fine.

[2019-07-09 23:47] JWGmeligMeyling commented on #27
Finally got the time to create a reproducer. The issue is easily worked around, but I think a proper fix requires a change in Hibernate which is why I wanted you to have another look at the issue. See #109.

[2019-07-10 10:33] JWGmeligMeyling commented on #29
The JSON-P equivalent for `JsonNode` seems to be `JsonValue` instead of `JsonStructure`. However, just swapping out the implementation of Jackson with JSON-B/JSON-P will mean that any users that rely on `JsonNode` serialisation, serialization of beans mapped with Jackson annotations, or users that provide a custom ObjectMapper  will run into compatibility issues. Therefore the JSON-B/JSON-P altern

[2019-07-10 11:15] vladmihalcea commented on #29
I new type would be fine for JSON-P, like `jsonb-p` and `json-p`. The new type will not use Jackson, so it should not affect users that mapped `JsonNode` on their entities.

[2019-07-11 09:22] sereysopheak-gl opened #113 "YearMonthTypeDescriptor failed to wrap null value from database in use case of YearMonthIntegerType"
When using YearMonthIntegerType for YearMonth object. The YearMonthTypeDescriptor could not handle null value from database. YearMonth.of(0, 0) throw DateTimeException

[2019-07-11 09:39] vladmihalcea commented on #113
Good catch. You should send a Pull Request with a fix for it.

[2019-07-14 18:12] aardbol commented on #108
I haven't because I haven't gotten Inet to work so far unfortunately

[2019-07-14 18:28] vladmihalcea commented on #108
I'll test it too when I have some time. It could work just fine.

[2019-07-16 06:18] aardbol commented on #108
You're right. I tested the class separately and IPv6 is handled correctly.

[2019-07-16 06:18] #108 closed

[2019-07-16 13:34] JWGmeligMeyling commented on #113
So the issue is with a `0` value rather than `NULL` right?

Because it seems `NULL` is properly handled here: https://github.com/vladmihalcea/hibernate-types/blob/master/hibernate-types-52/src/main/java/com/vladmihalcea/hibernate/type/basic/internal/YearMonthTypeDescriptor.java#L61

`0` is indeed an invalid value for month in Java, but I would consider it a mapping error. You probably should chang

[2019-08-15 09:34] joost-de-vries opened #114 "Disable ad banner"
I don't enjoy having ads in my application log.
For anybody who feels the same: setting the following logger to WARN hides it:
[code]

[2019-08-15 09:45] vladmihalcea commented on #114
Setting the log level to WARN will prevent you from seeing other log entries as well. The framework comes with a setting allowing you to disable the banner:

`hibernate.types.print.banner=false`

[2019-08-15 09:45] #114 closed

[2019-08-15 11:44] vladmihalcea opened #115 "Add support for the PostgreSQL TSVector column type"
PostgreSQL defines the `TSVector` column type that should be supported.

[2019-08-15 12:07] vladmihalcea commented on #53
Integrated, thanks.

[2019-08-15 12:07] #53 closed

[2019-08-15 13:39] JWGmeligMeyling commented on #53
Thanks! :+1:

[2019-08-15 19:32] vladmihalcea commented on #35
Closed as it's not possible due to Hibernate limitations. Once [HHH-13103](https://github.com/hibernate/hibernate-orm/pull/2649) gets fixed, it will be possible to address this issue.

[2019-08-15 19:32] #35 closed

[2019-08-15 19:35] vladmihalcea commented on #25
This is already supported via the `JsonBinaryType` mapped to a `String` as explained in [this article](https://vladmihalcea.com/map-string-jpa-property-json-column-hibernate/).

[2019-08-15 19:35] #25 closed

[2019-08-23 06:01] vladmihalcea opened #119 "ImmutableType should also implement the Type interface"
Because `UserType` does not extend the Hibernate `Type` contract, we cannot provide a custom Type for a scalar result in a native SQL query as in the following example:

[code]

The easiest way to fix this is to make the `ImmutableType` implement the `Type` contract as well.

This way, we can deal with the [`No Dialect mapping for JDBC type`](https://vladmihalcea.com/hibernate-no-dialect-mapping-f

[2019-08-23 07:11] vladmihalcea commented on #119
Fixed.

[2019-08-23 07:11] #119 closed

[2019-08-23 10:21] mayb32 opened #120 "Support PostgreSQL geometric types"
Can this library introduce mapping for PostgreSQL geometric types like Point, Box, Circle etc? I can create pull request. On other side there is hibernate-spatial lib.

[2019-08-23 11:00] vladmihalcea commented on #120
Hibernate Spatial might already cover these types, so you need to check out. Most likely, it's better to add support for those geospatial types in Hibernate Spatial which already adds the required dependencies.

[2019-08-23 11:00] #120 closed

[2019-08-29 09:02] vladmihalcea opened #123 "Add support for Oracle Interval Day to Second column type"
Similar to the [PostgreSQL `Interval` to Java `Duration` Type](https://vladmihalcea.com/map-postgresql-interval-java-duration-hibernate/), we need to support the Oracle `INTERVAL DAY TO SECOND` column type.

[2019-08-29 09:27] vladmihalcea commented on #123
Fixed.

[2019-08-29 09:27] #123 closed

[2019-09-10 09:07] JWGmeligMeyling opened #124 "Initialize PostgreSQLEnumType programmatically"
I am trying to create a `TypedParameterValue` (from your blogpost https://vladmihalcea.com/bind-custom-hibernate-parameter-type-jpa-query/ ) for a `PostgreSQLEnumType`. In order to do so I use:

[code]

Obivously, the properties have to be set, because `EnumType`, the base type for `PostgreSQLEnumType` is a `DynamicParameterizedType`, and requires the enum classname to be set through properties fo

[2019-09-10 09:21] vladmihalcea commented on #124
What if we add the following constructor:

[code]

Would that work in your case? Basically, we just have to use a custom `TypeConfiguration` that returns the right `EnumJavaTypeDescriptor` we need to avoid the NPE.

[2019-09-10 09:52] JWGmeligMeyling commented on #124
Let me test, thanks for the tip! I'll get back to you soon. I'll provide my test / changes as PR if they work.

[2019-09-11 10:27] JWGmeligMeyling commented on #124
The combination of our fixes worked, also applied the same to the enum array type in my PR.

[2019-09-11 11:08] vladmihalcea commented on #124
Thanks. I'll review it when I have some time.

[2019-09-11 11:47] JWGmeligMeyling opened #126 "Map Enum Array to EnumSet"
I've seen some request before to be able to map an `EnumSet` to a column in Hibernate (for example: [https://developer.jboss.org/thread/106544](https://developer.jboss.org/thread/106544)). Currently can map an enum array to a `Enum[]` value, but arrays are not as convenient as being able to use the Java `Collection` API. One downside of this approach is that an `EnumSet` has set characteristics, w

[2019-09-11 11:50] vladmihalcea commented on #126
Sounds like a goid idea. We can start with the RegularEnumSet and map it to a bigint.

[2019-09-11 14:28] donpaul120 opened #130 "org.hibernate.boot.registry.classloading.spi.ClassLoadingException: Unable to load class [com.vladmihalcea.hibernate.type.json.JsonStringType]"
I've been battling with this for hours and there is really no resolution to this.

[code]

[code]

[code]

[2019-09-11 15:23] vladmihalcea commented on #130
I can surely help you with it via my [consulting services](https://vladmihalcea.com/consulting/). If you are interested, send me an email to vlad{at}vladmihalcea.com.

[2019-09-11 15:23] #130 closed

[2019-09-13 18:47] vladmihalcea opened #131 "Add support for JSON column values for Oracle"
The current String and Binary JSON Types need to be adapted to work on Oracle database.

[2019-09-14 06:29] vladmihalcea commented on #131
Fixed.

[2019-09-14 06:29] #131 closed

[2019-09-14 17:21] vladmihalcea commented on #30
I updated the README file to make it obvious for every database which Hibernate Types are needed depending on the underlying column type.

[2019-09-16 07:39] vladmihalcea opened #132 "Remove Oracle profile as the JDBC Driver is now available on Maven Central"
The Oracle JDBC Driver is finally [available on Maven Central](https://medium.com/@kuassimensah/oracle-jdbc-drivers-on-maven-central-64fcf724d8b). So, we no longer need the Oracle profile and the checks for the Oracle Driver at runtime.

[2019-09-16 07:51] vladmihalcea commented on #132
Fixed.

[2019-09-16 07:51] #132 closed

[2019-09-16 07:59] vladmihalcea commented on #124
Fixed.

[2019-09-16 07:59] #124 closed

[2019-09-17 05:50] vladmihalcea opened #133 "Add support for passing the mapping Class to Json Types"
Currently, the mapping Type is resolved by scanning the annotated entity attribute. However, if we want to execute a query like this one:

[code]

We will get a `NullPointerException` as the Java descriptor will not be able to resolve the expected mapping `Class`:

[code]

[2019-09-24 16:45] vladmihalcea opened #134 "Upgrade Jackson Databind library version to 2.9.10"
The Jackson Databind 2.9.10 version fixes some security issues, hence you are better off using this version instead.

[2019-09-24 17:00] vladmihalcea commented on #134
Fixed.

[2019-09-24 17:00] #134 closed

[2019-09-26 10:51] SayakMukhopadhyay opened #135 "Mapping Enum to a String column uses toString() instead of name()"
I have a field in an entity like
[code]
where `MyEnum` is defined as
[code]
I expected that in my db the field would be `PROP_A` but I find that it is `Prop A` which indicates that the conversion is using the `toString()` representation of enum whereas I believe `name()` would be more appropriate since `toString()` is overridable and `name()` is not.
Is there a workaround or a configuration proper

[2019-09-26 10:58] vladmihalcea commented on #135
You need to use `@Enumarated` to map Java Enum:

    @Enumerated(EnumType.STRING)
    @Column(length = 8)
    private MuEnum myEnum;

Why would you use a Jsonb column to store an Enum when you are better off using a String or an Integer. Check out [this article for more details](https://vladmihalcea.com/the-best-way-to-map-an-enum-type-with-jpa-and-hibernate/).

[2019-09-26 12:05] SayakMukhopadhyay commented on #135
Sorry, it has been a long day and I copy pasted the wrong part of the code.
My actual code entity field is as such
[code]
I will update the OP

[2019-09-26 12:55] vladmihalcea commented on #135
You need to send a replicating test case to prove the problem. This is a mandatory step in order to fix any issue.

[2019-09-26 13:00] SayakMukhopadhyay commented on #135
The issue can be easily replicated by overriding the `toString()` method of an enum member. This causes whatever is returned in the `toString()` to be saved in the db. This has an additional effect of not being able to query the record anymore since the string returned via `toString()` cannot be resolved by `Enum.valueOf()`. If you still need a reproduction, a template project would help.

[2019-09-26 14:51] vladmihalcea commented on #135
Send me a Pull Request with a replicating test case and a fix as well. I'll review it when it's ready.

[2019-10-01 07:23] zeitiger opened #137 "Metamodel error if JSON property is a Set"
How I can prevent this kind of error?

[2019-10-01 07:47] vladmihalcea commented on #137
Sounds like a Hibernate issue. I don't see how this library can impact the way the JPA Metamodel is generated.

However, since I know the Hibernate ORM codebase, I'm sure I can help you investigate the issue. Check out my [consulting services](https://vladmihalcea.com/consulting/), and if you want to work with me, then drop me a message so I can send you an estimation and a contract.

[2019-10-01 09:41] #137 closed

[2019-10-07 14:15] mojgh opened #138 "Unexpected dirty checking behavior on collections of POJOs mapped with JsonBinaryType"
# Description

When *reading* entities with collections of POJOs such as TestEntity (see Example 1), updates are performed on the database without the objects being changed.

## Example 1

[code]

# Analysis

It appears as if the dirty check on JsonBinaryType properties for collections of POJOs does no longer work as expected.
The problem occurs since [commit-1]. This commit introduces a new dirty

[2019-10-07 15:14] vladmihalcea commented on #138
Thanks for the analysis. It would be great if you proposed a Pull Request as well. I'll review it once it's ready.

[2019-10-08 09:00] mojgh commented on #138
A small project to prove the problem: [hibernate_types_138.zip](https://github.com/vladmihalcea/hibernate-types/files/3701532/hibernate_types_138.zip)

[2019-10-08 10:47] vladmihalcea commented on #138
I think it's better to fork the project and create a replicating test case from an existing test case. This way, the test can prevent the issue from occurring in future as well.

[2019-10-08 18:03] vladmihalcea commented on #138
[This commit](https://github.com/vladmihalcea/hibernate-types/commit/527c5ae0f9397752cafbb6a7e8027f849b9063cc) proves that everything works as expected. The only case where I found the issue that you are describing is if you are using a Collection of Objects that don't implement equals or hashCode based on the inner properties, so the default `java.lang.Object` implementations are used.

[2019-10-08 18:03] #138 closed

[2019-10-08 18:27] vladmihalcea commented on #135
Fixed.

[2019-10-08 18:27] #135 closed

[2019-10-08 19:06] vladmihalcea commented on #133
Fixed.

[2019-10-08 19:06] #133 closed

[2019-10-14 02:45] chaoyangnz commented on #115
please merge, please

[2019-10-14 04:43] vladmihalcea commented on #115
I will as soon as someone shows me an example of using it in a production system.

Check out the thread for the PR for more details.

[2019-10-17 17:53] partip opened #140 "The PostgreSQLRangeType should use +HH:MM for the tstzrange column type"
When minutes is represented after semi-colon (:) in timezone (hh:mm), getting DateTimeParseException.

Steps to reproduce,

Add below line to method _com.vladmihalcea.hibernate.type.range.RangeTest.zonedDateTimeTest(_) and execute the test case.

`assertNotNull(Range.zonedDateTimeRange("[2019-03-28 04:03:10.2146+05:30,)"));`

Here is exception message,

`java.time.format.DateTimeParseException: Te

[2019-10-17 20:43] vladmihalcea commented on #140
Thanks for the heads up. You need to provide a replicating test case and a fix as well. I'll review it when it's ready.

[2019-10-18 09:14] partip commented on #140
Created Pull request #141. Please review

[2019-10-19 17:38] jones-gareth opened #142 "NPE thrown by AbstractArrayTypeDescriptor#setParameterValues when creating a PostgreSQL ARRAY"
This is an issue I had with a Postgres array and the fix I'm using.

I have a Hibernate (5.3)/Spring boot project and a repository query that returns a Postgres string array:
[code]

using your hibernate types to handle the returned array.

[code]

I get a nullpointerexception:

[code]
in
[code]
The issue is that parameters is empty-, it is set empty in org.hibernate.type.TypeFactory#injectParamet

[2019-10-19 18:52] vladmihalcea commented on #142
Thanks for the investigation. Would you mind sending a Pull Request as well?

[2019-11-06 19:46] dforrest88 opened #144 "Request to use jackson-databind-2.10.0 or later"
Several security vulnerabilities have been identified with jackson-databind-2.9.10 and earlier. This request is to update the dependency to 2.10.0 or later where the vulnerabilities have been resolved.

[2019-11-08 15:46] OrangeDog opened #145 "Intrusive advertising"
Have you deliberately put a space in the logger name "Hypersistence Optimizer" to make it harder to turn off?

[2019-11-08 17:52] #145 closed

[2019-11-13 09:39] cec commented on #93
Hi @vladmihalcea and @kiview

I'm on WildFly 10, which comes with `hibernate-commons-annotations-5.0.1.Final`.

I added `hibernate-commons-annotations-5.1.0.Final` and updated `module.xml` to point to it.

In `pom.xml` I added
[code]

However I still get `java.lang.ClassNotFoundException: org.hibernate.annotations.common.reflection.XProperty `.

Did you manage to fix this?

Otherwise I'll prepare

[2019-11-13 09:54] vladmihalcea commented on #93
I haven't used Wildfly, so I have no idea what might cause the problem. Most likely this is a Wildfly issue. Anyway, if you replicate it, you need to debug it and see whether there's something to be fixed.

[2019-11-13 12:57] cec commented on #46
Hi @TMSantos  and @oisti  did you guys manage to solve this?

It's been haunting me for almost two whole days now...

[2019-11-15 11:42] OrangeDog commented on #17
It `StringArrayType` appears to work already for reading an entity, but not e.g. for query parameters.

[2019-11-15 11:53] vladmihalcea commented on #17
Is your comment really related to this issue? It looks more like it's related to the existing StringArrayType  in which case, you need to provide a replicating test case and open a new issue.

[2019-11-15 11:55] OrangeDog commented on #17
I mean it works for `varchar[]` fields.

[2019-11-15 11:58] OrangeDog commented on #17
However, the constructor `StringArrayType(TypeDescriptor)` doesn't exist, so you cannot extend it directly as in the article you linked.

[2019-11-15 12:03] vladmihalcea commented on #17
I now there is support for `String[]`, but I don't recall exactly why I created this issue.

Anyway, if there's something to be implemented, then you need to send me a Pull Request with a fix. I'll review it when it's ready.

[2019-11-15 12:10] OrangeDog commented on #17
I'm not familiar with all the nuances, but this does the job for me. Using the `StringArrayType` results in various `function X(character varying[], text[]) does not exist`-like errors.

[code]

[2019-11-15 18:04] nstdio commented on #97
@vladmihalcea I can take it, can you assign this issue to me?

[2019-11-15 18:26] vladmihalcea commented on #97
Done. Thanks for adding your contribution.

[2019-11-16 18:18] bendem commented on #97
Awesome, thank indeed @nstdio

[2019-11-18 13:30] joshiste commented on #9
Stumbled over the same error today.
I think it's a bit sad that the ObjectMapperJsonSerializer doesn't peek for the first element being serializable in case you have a collection...

[2019-11-18 14:24] vladmihalcea commented on #9
@joshiste All the tests run just fine, so I don't really understand the use case that might cause some issues.

So, 2 things are needed:

1. A replicating test case that proves there's an issue.
2. A PR with a fix proposal.

If you can supply them, I'll analyze it and see the best way to integrate it.

[2019-11-19 13:55] Ethoytaryn opened #150 "Add support for mapping java.util.Date ARRAY or List to PostgreSQL DATE[] and TIMESTAMP[]"
I had to implement this on my actual project. Maybe this can be interested to share my work with community.
I can create a pull request and my implementation and had unit tests.

[2019-11-19 14:35] vladmihalcea commented on #150
Do you want to add support for mapping a PostgreSQL `DATE[]` to a `java.util.Date` array or Collection?

[2019-11-19 15:05] Ethoytaryn commented on #150
Sorry i didnt specify. Yes, Postgres `DATE[]` to a `java.util.Date` array

[2019-11-19 15:25] vladmihalcea commented on #150
Sounds great. Please send the PR.

[2019-11-19 16:43] vladmihalcea opened #151 "Add support for ClassImportIntegrator for compact DTOs"
As explained in [this article](https://vladmihalcea.com/dto-projection-jpa-query/).

[2019-11-22 10:31] cec opened #152 "PGSQL Enum Type not working with native queries"
Hi,

in PostgreSQL I have a table `registrations` with a `status` enum column of type `enum_status_completed_cancelled_pending`.

I mapped the table to a `Registration` entity that uses `PostgreSQLEnumType` to map `RegistrationStatus` Java string enum to the pgsql enum.

A `TypedQuery` selecting all records with a given status (set via `setParameter("status", RegistrationStatus.PENDING)`) works pe

[2019-11-22 11:02] vladmihalcea commented on #152
You can do provide the custom Type to Hibernate.

### Hibernate 5.2 and newer

[code]

### Hibernate 5.1 or older

[code]

For more details, check out [this article](https://vladmihalcea.com/sql-server-json-hibernate/).

[2019-11-22 11:02] #152 closed

[2019-11-22 14:21] cec commented on #152
Hi @vladmihalcea ,

I tried the **Hibernate5.1 or older** solution, but compiler complained that it cannot resolve a method `setParameter` with those 3 arguments, as the third argument is meant to be a `org.hibernate.Type`.

I tried casting as follows

[code]

but it results in the following exception

[code]

I'm not sure how to proceed forward

I'm using `hibernate-types:2.7.1`

[2019-11-22 15:51] vladmihalcea opened #153 "Create a new EnumType and make PostgreSQLEnumType extend that one instead"
As explained in [this issue](https://github.com/vladmihalcea/hibernate-types/issues/152), the Hibernate `EnumType` extends `EnhancedUserType`.

Check if a custom type can be added to extend from `Type` as well, as `ImmutableType` does.

[2019-11-22 15:53] vladmihalcea commented on #152
@cec That's because the Hibernate `EnumType` extends `EnhancedUserType`. I created [a new issue](https://github.com/vladmihalcea/hibernate-types/issues/153) that should address this problem for both `PostgreSQLEnumType` and the Hibernate `EnumType`.

However, I don't have the time to work on this project at the moment. Maybe I'll find more time in 2020.

[2019-11-23 12:27] joshiste commented on #9
@vladmihalcea there you: go https://github.com/vladmihalcea/hibernate-types/pull/154

[2019-11-23 12:57] vladmihalcea commented on #9
Thanks. I'll review it when I have some time.

[2019-11-26 10:10] cec commented on #152
Hi @vladmihalcea , sorry for the late reply.

Thanks for the explanation. I will resort to explicit casting for the moment.

I'd be happy to contribute to the library, but I believe the necessary change is not small and I'm still to green on Hibernate

[2019-12-04 03:23] javaisgood opened #156 "Doesn't work with spring.jpa.hibernate.ddl-auto"
When I use spring.jpa.hibernate.ddl-auto with this project.
This exception will be thrown:
org.hibernate.MappingException: No Dialect mapping for JDBC type: 1111

[2019-12-04 05:38] vladmihalcea commented on #156
All tests in this project use hbm2ddl, and everything works just fine.

That exception can be fixed as I explained [in this article](https://vladmihalcea.com/hibernate-no-dialect-mapping-for-jdbc-type/).

[2019-12-04 05:38] #156 closed

[2019-12-08 17:23] vladmihalcea commented on #140
The test case provided fails, so I'm closing the issue since it does not look like there is anything wrong with the current implementation.

[2019-12-08 17:23] #140 closed

[2019-12-08 17:41] vladmihalcea commented on #142
Applied upstream, thanks

[2019-12-08 17:41] #142 closed

[2019-12-08 18:08] vladmihalcea commented on #144
The 5.2 module was upgraded to use the `2.9.10.1` Jackson Databind version. The other modules are meant to be compiled and run with the minimum version of Java required by the associated Hibernate version. Now, since Jackson does not maintain those branches, nothing can be done about it. It's the responsibility of the user to upgrade these dependencies, as they are transient to this project.

[2019-12-08 18:08] #144 closed

[2019-12-08 18:11] vladmihalcea opened #157 "Upgrade Jackson Databind library to 2.9.10.1"
The 5.2 module needs to be upgraded to use the 2.9.10.1 Jackson Databind version. The other modules are meant to be compiled and run with the minimum version of Java required by the associated Hibernate version.

Now, since Jackson does not maintain those branches, nothing can be done about it.

It's the responsibility of the user to upgrade these dependencies, as they are transient to this projec

[2019-12-08 18:11] vladmihalcea commented on #157
Fixed.

[2019-12-08 18:11] #157 closed

[2019-12-08 18:13] vladmihalcea opened #158 "ObjectMapperJsonSerializer should inspect the inner Collection element type"
This way, the `ObjectMapperJsonSerializer` can deal with collections of elements that do not implement the `Serializable` Java interface.

[2019-12-08 18:45] vladmihalcea commented on #158
Applied upstream, thanks

[2019-12-08 18:45] #158 closed

[2019-12-08 19:29] vladmihalcea commented on #115
Fixed.

[2019-12-08 19:29] #115 closed

[2019-12-08 19:58] vladmihalcea commented on #151
Only for Hibernate 5 modules, as the Hibernate 4 didn't support this properly.

[2019-12-08 20:10] vladmihalcea commented on #151
Fixed.

[2019-12-08 20:10] #151 closed

[2019-12-09 12:12] vladmihalcea commented on #97
Fixed by [this commit](https://github.com/vladmihalcea/hibernate-types/commit/a53a39b5217a44f74095f0b3c24f6be7966c30a9).

[2019-12-09 12:12] #97 closed

[2019-12-09 15:25] vladmihalcea commented on #150
Fixed.

[2019-12-09 15:25] #150 closed

[2019-12-09 15:34] vladmihalcea commented on #113
This issue is probably invalid since `YearMonth.of(0, 0)` is not a valid `YearMonth` anyway.

[2019-12-10 03:06] sereysopheak-gl commented on #113
You are right that ```YearMonth.of(0, 0)``` is not valid and I want to value to be null instead of ```YearMonth.of(0, 0)```. But even though the null was set in database, hibernate will map it to ```0``` hence the ```value = 0``` not ```null``` in the method ```public <X> YearMonth wrap(X value, WrapperOptions options)``` which cause ```DateTimeException``` to throw.

[2019-12-10 03:37] vladmihalcea commented on #113
Thanks for the explanation. I reopened it and scheduled it for 2.9.0.

[2019-12-10 03:49] sereysopheak-gl commented on #113
That's great. Thanks.

[2019-12-20 10:04] lukaseder opened #160 "Add a type mapping for Oracle BINARY_DOUBLE and BINARY_FLOAT"
For performance reasons, a customer would like to use `BINARY_DOUBLE` as a type mapping. This can be drastically faster than using `NUMBER` or `DOUBLE PRECISION`, see
https://blog.jooq.org/2019/09/11/oracles-binary_double-can-be-much-faster-than-number/

Is that something worth adding to hibernate-types?

[2019-12-20 10:34] vladmihalcea commented on #160
Sounds like a good idea. It should not be difficult to add.

[2019-12-24 08:46] MakarovAlexey opened #161 "Empty multi-dimensional arrays throw ClassCastException"
Hello! I have mapped field 'textByLang' with type String[][]. I use PostgreSQL. When I try load field with two-dimensional array '{{abc,xyz}}' all working fine, but when I load empty array ('{}'), I receive the following error:

[code]

[2019-12-24 09:24] vladmihalcea commented on #161
According to the error:

    Can not set [[Ljava.lang.String; field ru.ritos.lang.LangText.textByLang to [Ljava.lang.String;

It looks like you are trying to save your own custom `LangText` Java type into a `String[]`.

The ARRAY type allows you to save a Java array into a PostgreSQL array. More, every issue should be accompanied by a replicating test case that proves the issue, so I'm going to cl

[2019-12-24 10:11] MakarovAlexey commented on #161
Here test case and classes
#162

[2019-12-24 10:31] vladmihalcea commented on #161
Thanks. I'll review it when I have some time.

[2020-01-01 09:55] ajeyaraj03 commented on #115
PostgreSQLTSVectorType.java is not available in hibernate-types-52, Isit not supported anymore?

[2020-01-01 10:15] vladmihalcea commented on #115
@ajeyaraj03 Of course, it's there. You probably don't use the [2.8.0 version](https://search.maven.org/artifact/com.vladmihalcea/hibernate-types-52/2.8.0/jar).

[2020-01-01 10:28] ajeyaraj03 commented on #115
in 2.8.0 i dont see that its there in hibernate-types-5 but not in hibernate-types-52 @vladmihalcea can you help which latest version has this class?

[2020-01-01 10:31] ajeyaraj03 commented on #115
https://github.com/vladmihalcea/hibernate-types/tree/master/hibernate-types-52/src/test/java/com/vladmihalcea/hibernate/type/basic

master branch

[2020-01-01 10:41] ajeyaraj03 commented on #115
@vladmihalcea  I meant in master branch. But i am getting the error for the same in hibernate > 5.2 am using.

  <hibernate.version>5.3.9.Final</hibernate.version>
        <hibernate-types.version>2.8.0</hibernate-types.version>

getting below error:

Caused by: java.lang.AbstractMethodError: Receiver class com.vladmihalcea.hibernate.type.basic.PostgreSQLTSVectorType does not define or inherit an

[2020-01-01 10:52] vladmihalcea commented on #115
It does implement that. The reason you get that error is that you have multiple versions of Hibernate in your classpath. Run `mvn dependency:tree` and you'll see where do you get multiple versions of Hibernate in your classpath.

[2020-01-01 11:08] ajeyaraj03 commented on #115
thats looks fine. @vladmihalcea  i was using hibernate-types-5

@vladmihalcea  are you sure PostgreSQLTSVectorType class is there?

  <dependency>
            <groupId>com.vladmihalcea</groupId>
            <artifactId>hibernate-types-52</artifactId>
            <version>2.8.0</version>
        </dependency>

[2020-01-01 11:13] vladmihalcea commented on #115
You said you are using 5.2. Now, you say you are using 5 instead.

Check it out on Maven Central, expand the dependency and see it for yourself. It should be there.

And, now we're back to 5.2. Your message makes no sense. You are either using the 5 or the 5.2 dependencies.

The source code is on GitHub. And, there's the source code that you can also get from Maven Central.

[2020-01-01 11:54] ajeyaraj03 commented on #115
![source52](https://user-images.githubusercontent.com/3338673/71641049-5aacc500-2cbb-11ea-93fc-d83615b0c108.png)
[hibernate-types-52-2.8.0-sources.zip](https://github.com/vladmihalcea/hibernate-types/files/4014027/hibernate-types-52-2.8.0-sources.zip)

@vladmihalcea  check this

[2020-01-01 12:14] vladmihalcea commented on #115
Of course it's there. You're just not searching it in the right folder.

![`PostgreSQLTSVectorType.java`](https://user-images.githubusercontent.com/5571399/71641233-ff6dd900-2ca0-11ea-9ad5-765941f7f919.png)

[2020-01-06 17:14] vladmihalcea opened #163 "Add support for MapResultTransformer and ListResultTransformer"
The `MapResultTransformer` allows us to return a Java `Map` from a JPA or Hibernate query.

The `ListResultTransformer` simplifies the process of using a `ResultTransformer` by providing a default implementation for the `transformList` method.

[2020-01-06 18:01] vladmihalcea commented on #163
Fixed.

[2020-01-06 18:01] #163 closed

[2020-01-06 18:27] vladmihalcea commented on #161
Fixed.

[2020-01-06 18:27] #161 closed

[2020-01-06 19:19] vladmihalcea commented on #54
Matrix arrays are supported. Check out the [`MatrixArrayTypeTest`](https://github.com/vladmihalcea/hibernate-types/blob/b3d77a4fc1c69d0880156a4426ae66294902428a/hibernate-types-52/src/test/java/com/vladmihalcea/hibernate/type/array/MatrixArrayTypeTest.java) for an example.

[2020-01-06 19:19] #54 closed

[2020-01-10 18:34] jwgmeligmeyling commented on #126
This seems easier to do with the restructuring of the array types in https://github.com/vladmihalcea/hibernate-types/issues/97

[2020-01-10 18:40] vladmihalcea commented on #126
I think it's worth investigating, indeed.

[2020-01-13 19:10] marceloverdijk opened #164 "When fetching a List backed by a NULL PostgreSQL array, a NPE is thrown"
I have PostgreSQL table with the following column:

[code]

and mapped it to:

[code]

When querying this entity I get:

[code]

I just upgraded from `2.8.0` to `2.9.0` to be able to map `List<String>` types instead of `String[]`.

Do I need some other configuration maybe?

[2020-01-13 19:14] marceloverdijk commented on #164
Never mind, I overlooked the `ListArrayType`.

[2020-01-13 19:22] marceloverdijk opened #165 "[2.9.0] ListArrayType does not seem to handle null values"
I have PostgreSQL table with the following column:

[code]

and mapped it to:

[code]

When I query a Project that has previous names it works as expected 👍

But when querying a Project with a null (`previous_names`) value I get:

[code]

[2020-01-14 01:32] vladmihalcea commented on #165
Looks like a bug. Send me a Pull Request with a fix. Thanks.

[2020-01-14 07:03] vladmihalcea commented on #164
The issue could be valid. But I need a replication test case for that.

[2020-01-14 08:53] vladmihalcea commented on #164
Fixed.

[2020-01-14 08:53] #164 closed

[2020-01-14 08:54] vladmihalcea commented on #165
Duplicate of #164

[2020-01-14 08:54] #165 closed

[2020-01-14 09:33] marceloverdijk commented on #164
You were quicker fixing it than I could have a look at it ;-)
Do you have a plan to release `2.10.0` or could this go in a `2.9.1` bigfix release?

[2020-01-14 09:35] vladmihalcea commented on #164
I could do a 2.9.1 bugfix release as well. I think that's better, as I plan on releasing 2.10.0 only in February.

[2020-01-14 09:38] marceloverdijk commented on #164
That would be appreciated (if you have time to do it).

[2020-01-14 09:45] vladmihalcea commented on #152
Replaced by #153

[2020-01-14 10:20] vladmihalcea commented on #164
I released the `2.9.1` version. You can check it out from Maven Central as soon as it's synced with Sonatype.

[2020-01-14 10:41] vladmihalcea opened #166 "Create a TypeContributor that registers all supported types"
As mentioned by @jwgmeligmeyling on my blog:

There could be a predefined `MetadataBuilderContributor` containing all supported types.

It should be tested to see if registering `MetadataBuilderContributor` by default via the Service Loader mechanism is safe.

[2020-01-14 12:49] vladmihalcea opened #167 "Add support for mapping Java boolean[] arrays or List<Boolean> on PostgreSQL boolean[] array column types"
A `BooleanArrayType` array type should be added to be able to persist Java arrays or `List<Boolean>` to PostgreSQL `boolean[]` column types.

[2020-01-14 13:42] vladmihalcea opened #168 "Multidimensional Enum arrays are wrapped to String arrays and a ClassCastException is thrown"
When using a multidimensional Enum array, during wrapping, instead of constructing the proper multidimensional array, a `ClassCastException` is thrown.

[2020-01-14 14:01] vladmihalcea commented on #168
Fixed.

[2020-01-14 14:01] #168 closed

[2020-01-14 17:24] marceloverdijk opened #169 "When fetching an entity from the second-level cache, ListArrayType throws UnsupportedOperationException"
Having a entity like:

[code]

the first time the `Project` is queried everything is fine.
The second time - when the object is retrieved from the Hibernate second-level cache - an `UnsupportedOperationException` is thrown unfortunately.

[code]

[2020-01-14 17:36] marceloverdijk opened #170 "ListArrayType should match the initial type when populating the List with the array from the DB"
When having a entity like:

[code]

Could the `ListArrayType` add the names to the initiated list instead of replacing the list?

I'm wondering as when the array is null in the database the `previousNames` list will be null in the fetched entity. I'm having 2 feelings here as it makes sense if it's null in the database.

But I expected differently.

Similar as

[code]

will also give an empty list

[2020-01-14 17:49] vladmihalcea commented on #170
Yes, that can also be an option. It can also be made configurable and passed via a Type parameter.

[2020-01-14 17:50] vladmihalcea commented on #169
This issue will require a replicating test case. I'll be rather busy in the following weeks, so if you can supply a fix via a Pull Request, then maybe I could issue a minor release sooner than late February or March.

[2020-01-14 19:30] vladmihalcea commented on #169
Fixed.

[2020-01-14 19:30] #169 closed

[2020-01-14 19:35] vladmihalcea commented on #170
This [test case](https://github.com/vladmihalcea/hibernate-types/commit/1aea30af27d1699b6e525936bd163aedf7d78398) demonstrates that this behavior is already in place.

[2020-01-14 19:35] #170 closed

[2020-01-14 20:52] marceloverdijk commented on #169
Verified in `2.9.3-SNAPSHOT` it works now 👍

[2020-01-14 21:01] marceloverdijk commented on #170
In my project it is not working, but there is a difference..

In my database the actual values are `null`.

Looking at the test:

[code]

It creates an `Event` with all the list types initialised with `new ArrayList()`.
I think when persisting this, it is actually persisted as `[]`, and not `null`.
Then when querying the `[]` is converted to an empty `ArrayList`.

I tweaked the test a bit to:

[co

[2020-01-14 21:05] vladmihalcea commented on #169
Thanks for the confirmation.

[2020-01-14 21:09] vladmihalcea commented on #170
Send me a Pull Request with the replicating test case, and I'll investigate it when I have some time.

[2020-01-14 21:17] marceloverdijk commented on #170
Created https://github.com/vladmihalcea/hibernate-types/pull/171 with the failing test.

[2020-01-15 05:40] vladmihalcea commented on #170
Unlike `@OneToMany` associations, the `ListArrayType` manages a `@Basic` property. So, if you set it to `null`, it must set the column value to `NULL`.

However, you can easily prevent the NPE by changing the getter and setter to:

[code]

[2020-01-15 07:47] marceloverdijk commented on #170
OK, I wasn't aware of the `@Basic` property rules, but it makes sense.
I indeed added a getter like that already. Thx again.

[2020-01-15 08:21] vladmihalcea commented on #170
You're welcome. I think the current behavior follows the "principle_of_least_astonishment", so it's better to leave it as-is.

[2020-01-15 14:20] adam-nivaura opened #172 "Switch from JsonStringType to JsonBinaryType based on jdbs"
See this link: https://stackoverflow.com/questions/59703106/switch-from-jsonstringtype-to-jsonbinarytype-based-on-jdbs

[2020-01-15 14:57] vladmihalcea commented on #172
I answered your question on StackOverflow.

[2020-01-15 14:57] #172 closed

[2020-01-15 15:25] andreas-eberle opened #173 "GraalVM / Quarkus native build support"
It would be great if this library could add support for GraalVM / Quarkus native builds. Currently, adding this library to a quarkus project breaks the native build.

As far as I know, the main problem probably are the reflection calls. These will need a configuration for GraalVM so it knows how to handle them in native code. See [https://github.com/oracle/graal/blob/master/substratevm/REFLECTION.

[2020-01-15 15:44] vladmihalcea commented on #173
Indeed, this will be a nice feature. However, I have never used Quarkus or GraalVM, so I have no idea what's needed to be done for this issue.

Maybe the Quarkus development team should provide this change as they better know what's needed in order to support a given framework.

For the moment, this is the first time someone demanded this feature, so, at the moment, I think there is little demand

[2020-01-15 16:08] marceloverdijk commented on #173
Actually I'm also experimenting with Quarkus, not yet using the native build but will one day.
And I'm also using `hibernate-types`, so somewhere down the road this will bite me as well :-)

@gsmet @emmanuelbernard @FroMage could you maybe provide pointers to make `hibernate-types`  native compatible?

[2020-01-15 18:05] vladmihalcea opened #174 "Add generic JsonType that auto-resolves the SqlTypeDescriptor"
As explained in [this StackOverflow question](https://stackoverflow.com/questions/59703106/switch-from-jsonstringtype-to-jsonbinarytype-when-project-uses-both-mysql-and-po/59753980#59753980), it would be very useful to have a generic `JsonType` that wraps the existing JSON Types (e.g., `JsonBinaryType`, `JsonStringType`) and delegates calls to the best-matching type according to the currently conf

[2020-01-16 08:22] Himly1 opened #175 "Unexpected Hibernate dirty checking when using Sets"
Here is my entity
[code]

Here is the struct of the `Form` class
[code]

Here is the the class name of the descriptor
`com.vladmihalcea.hibernate.type.json.internal.JsonTypeDescriptor`

Here is the `areEqual` method
[code]
The `one` does equal to the `another`
The elements of the `formFields` of the `one` are : 3 2 1
The elements of the  `formFields` of the `another` are: 1 2 3

When convert the `

[2020-01-16 08:54] Himly1 commented on #175
And then Hibernate will mark the object as dirty and run a update sql .

[2020-01-16 09:21] vladmihalcea commented on #175
You need to provide a replicating test case. I'll check it out afterwards.

[2020-01-16 11:24] Himly1 commented on #175
@vladmihalcea  I was add the test case to my forked repository
Can you please take a look ? Thanks you.

You can clone the below repository
`git@github.com:Himly1/hibernate-types.git
`
And you can find the test case at the below path
`com.vladmihalcea.hibernate.type.json.internal.JsonTypeDescriptorTest`

[2020-01-16 11:54] vladmihalcea commented on #175
If you already have a fork, you can easily send a Pull Request.

[2020-01-17 09:40] ctytgat commented on #65
@vladmihalcea I just ran into this myself, and wonder what the reason could be that this isn't supported?
Jackson can perfectly serialize and deserialize polymorphic lists, as long as the objects contain the correct type info.
But for some reason, hibernate serialization won't include the type info and so deserialization fails...

[2020-01-17 09:44] ctytgat commented on #65
For completeness, my case looks like this:

[code]

[2020-01-17 13:18] mrotteveel opened #176 "PostgreSQLEnumType is not compatible with Hibernate 5.2 because of JavaTypeDescriptorRegistry and TypeConfiguration"
The changes introduced in PR #125 use `org.hibernate.type.descriptor.java.spi.JavaTypeDescriptorRegistry` and `org.hibernate.type.spi.TypeConfiguration` which were introduced in Hibernate 5.3.

Attempts to use `PostgreSQLEnumType` with Hibernate 5.2.18 results in the following exception.

[code]

Workaround: use version 2.6.1 or earlier.

[2020-01-17 13:22] vladmihalcea commented on #176
Thanks. I'' investigate it when I have some time.

[2020-01-21 14:01] vladmihalcea commented on #176
Fixed.

[2020-01-21 14:01] #176 closed

[2020-01-21 18:44] vladmihalcea commented on #173
The #177 PR needs to be reviewed for this issue.

[2020-01-21 20:22] marceloverdijk commented on #173
Note #177 is even needed to make Quarkus work in JVM mode.
`Class.forName(className)` does not work in Quarkus JVM mode as it uses a 2 layer class loading structure, to allow the application classes to be dropped on hot reload. See [this](https://github.com/quarkusio/quarkus/issues/6625) issue for more info.

What is needed to run GraalVM/native I honestly don't know.

[2020-01-26 12:12] vladmihalcea commented on #173
Applied upstream, thanks

[2020-01-26 12:12] #173 closed

[2020-01-26 12:12] vladmihalcea commented on #175
Fixed.

[2020-01-26 12:12] #175 closed

[2020-02-03 13:14] rorytorneymf opened #179 "How to use the PostgreSQLEnumType with both PostgreSQL and H2?"
Is there any way to allow `PostgreSQLEnumType `to work with a h2 database as well?

I use h2 in testing, where the regular `@Enumerated(EnumType.STRING)` works fine, however, it doesn't work for the postgres database I use in production.

Your `PostgreSQLEnumType `works great for postgres, but doesn't work for h2.

Is there anything you suggest for this use case?

Many thanks!

[2020-02-03 13:53] vladmihalcea commented on #179
You will need to investigate what H2 needs in order to bind the Enum to the `PreparedStatement` and how to fetch it from the `ResultSet`. For that, you will need to:

- add a H2 test case that uses a DB-specific Enum
- create a new `H2EnumType` according to how H2 needs to get/set the Enum

[2020-02-03 18:01] rorytorneymf commented on #179
For anyone else, the 3 steps described [in this stackoverflow answer](https://stackoverflow.com/a/43125099/12177456) works with both h2 and postgres:

1. Create enum in sql
2. Add @Enumerated(EnumType.STRING) on entity
3. Appending ?stringtype=unspecified to postgres connection string

[2020-02-03 19:01] vladmihalcea commented on #179
I'm sure there's a way to make it work even without those parameters.

[2020-02-05 09:49] vladmihalcea opened #180 "ListArrayType generates an extra UPDATE when persisting an entity"
When persisting an entity that has an attribute using the `ListArrayType`, an extra UPDATE is generated during flush since the unwrapped Java array is checked against the wrapped `List`.

[2020-02-05 10:00] vladmihalcea commented on #180
Fixed.

[2020-02-05 10:00] #180 closed

[2020-02-05 11:33] cybercooll commented on #137
Same show stopper issue for me.
I have mapped a jsonb and an integer[] to a List<Integer> in my entity.
Hibernate wants a SingularAttribute and leaves to null the volatile attribute in generated metadata.
 This prevents the column to be used in a projection.
How could we fix that ?

[2020-02-05 11:57] vladmihalcea commented on #137
That sounds like a Hibernate ORM bug, not a Hibernate Types bug. So, you need to follow these steps:

. replicate the issue using [this test case template](https://in.relation.to/2016/01/14/hibernate-jpa-test-case-template/)
. if you could replicate the issue, you need to open a Hibernate Jira issue
. afterward, you need to fork Hibernate, fix the issue, and send a Pull Request to Hibernate ORM
.

[2020-02-05 12:06] zeitiger commented on #137
As I understand the problem is that Hibernate metamodel initialize collection types on relationship annotations like @OneToMany and fail on missing because its a json collection.

[2020-02-05 12:27] vladmihalcea commented on #137
You can use a POJO, `String` or `JsonNode` instead of a `Collection` in the entity attribute. This way, the problem might be fixed. You don't need to use a `Set`. Just wrap it in one of the containers I mentioned.

[2020-02-05 14:24] cybercooll commented on #137
Yes, I can do it on jsonb field, but not for integer[].
I'll try to map them to an array instead of a List to see if it works better.
Too bad we can't use what was added in 2.9.0, I was happy when I saw the changelog.

[2020-02-05 14:34] vladmihalcea commented on #137
There's nothing to do on my side. This needs to be fixed in Hibernate.

[2020-02-09 14:01] vladmihalcea commented on #137
One workaround is to use the String-based property identifier. Also, I didn't ever see a real0life Criteria API query that can actually target a JSON or ARRAY column since you need DB-specific operators.

So, someone needs to provide a proper example of showing how this problem can be replicated.

[2020-02-09 14:52] Tajveer opened #181 "Setting JsonInclude behavior via spring boot properties"
Hi,

Trying to persist a JSON in MySQL 8.0 using `JsonStringType.class`. Simplified example:

[code]

I've set `spring.jackson.default-property-inclusion=non_null` in `application.properties`, and `hibernate.types.jackson.object.mapper=com.fasterxml.jackson.databind.ObjectMapper` in `hibernate-types.properties`. The `ObjectMapper` instance in my project is being injected by `JacksonAutoConfigurati

[2020-02-09 15:09] vladmihalcea commented on #181
[This article](https://vladmihalcea.com/hibernate-types-customize-jackson-objectmapper/) explains how to customize the Jackson ObjectMapper.

Integrating that with Spring requires consulting, so, if your company is interested in employing [my consulting services](https://vladmihalcea.com/consulting/) to help you with this issue, just let me know.

[2020-02-09 15:09] #181 closed

[2020-02-10 11:19] cybercooll commented on #137
I tried to add the @Basic annotation but generated Metadata is still null at runtime.
I'll use Arrays, everything work fine with an array. I'll just have to remember why :)

[2020-02-12 23:26] srnm opened #184 "HHH015011: Unable to locate static metamodel field"
I am seeing warnings during startup:
`WARN o.h.metamodel.internal.MetadataContext   : HHH015011: Unable to locate static metamodel field : xyz.UserView_#data; this may or may not indicate a problem with the static metamodel`

using **JsonBinaryType** as per https://vladmihalcea.com/how-to-store-schema-less-eav-entity-attribute-value-data-using-json-and-hibernate/

A static metamodel is being creat

[2020-02-13 05:12] vladmihalcea commented on #184
The Metamodel is generated by Hibernate ORM, and the Hibernate Types have no way to control that.

So, you need to open an issue in the Hibernate ORM project about that warning.

The `JsonBinaryType` can be used instead of the `JsonNodeBinaryType`.

[2020-02-13 05:12] #184 closed

[2020-02-19 05:53] linarkou opened #185 "Specify String encoding in JsonBlobType"
Hi! Thank you for hibernate-types!
I want to save some object in blob column as json, and I use JsonBlobType. Can I set a specific charset for converting String to byte array?
Now I see that `JsonTypeDescriptor::wrap`  just uses `String::getBytes` with default charset.

https://github.com/vladmihalcea/hibernate-types/blob/b3189cc10d13f7761121db867152b840e1203433/hibernate-types-52/src/main/java/co

[2020-02-19 06:03] vladmihalcea commented on #185
Thanks, indeed, a useful requirement. One option is to set the `file.encoding` JVM property.

What I need is a test case showing how this issue is replicating so that I could analyze whether a global property is needed or a Type-specific setting.

[2020-02-20 11:31] sumanadak opened #186 "Need help to store arbitary json( any child depth) to postgres jsonb column with spring boot"
Hi,
I need to store an arbitary json( any child depth) to a postgres column. I dont need any search on stored json.  So I tried to declare a column as String but there is a error. Could someone please help me to store json vale and retrive same?

Thanks
Suman

[2020-02-20 12:21] vladmihalcea commented on #186
Check out the `PostgreSQLJsonStringPropertyTest` in the GitHub repository. It will show you how to map a JSONB column as a `String` entity attribute.

[2020-02-20 12:21] #186 closed

[2020-02-20 21:12] dimalu85 commented on #137
Same issue with jsonb mapped to Map.
I try to implement next approach

[code]

where function could be like
`create function jsonb_attribute_contains("attributes" jsonb, "key" text, "values" text) returns boolean
as $$
   begin
    return "attributes" @> ('{"' || "key" || '": ' || "values" || '}')::jsonb;
  end;
$$ language plpgsql;`

[2020-02-21 05:16] vladmihalcea commented on #137
If you map the JSON column to a String entity attribute and expose methods to convert the String representation to List, Set or Map, it will just fine.

Until the Metamodel generation is enhanced to support basic collection attributes, you will need to use either String or JdonNode in your entity property.

[2020-02-21 05:52] vladmihalcea commented on #137
It's still not clear when this issue is generated. So, someone should first create a replicating test case that proves the issue. Once that's done, I'll take a look at it. In the meanwhile, you can use the workarounds listed previously.

[2020-02-21 07:57] vladmihalcea commented on #137
For more context. This problem was attempted to be fixed by [HHH-12338](https://hibernate.atlassian.net/browse/HHH-12338) in 5.2.17, but it caused the [HHH-12581](https://hibernate.atlassian.net/browse/HHH-12581), so it got reverted in 5.2.18.

I will try to provide a new fix for it, and maybe it will be merged.

[2020-02-21 08:18] vladmihalcea commented on #137
For more details about what it will be discussed, check out [this Pull Request](https://github.com/hibernate/hibernate-orm/pull/3254/) for Hibernate ORM.

[2020-02-25 12:13] dartov opened #188 "Spring Boot-friendly way to support both JsonStringType and JsonBinaryType depending on dialect"
Hello,

I'm using Spring Boot and I couldn't find an elegant way to support JSON column with multiple target databases, selecting specific type depending on dialect, I have to ditch Hibernate-Types and resort to custom dialects..
I know it's possible to provide XML mapping that will take precedence, but there's no way in JPA AutoConfiguration to supply just XML that will override annotated class,

[2020-02-25 12:53] vladmihalcea commented on #188
The #174 issue aims to provide a single `JsonType` that would delegate the calls to an existing JSON Hibernate Type based on the current Dialect and the entity attribute type.

If your employer wants to sponsor this feature, I could implement it via my [consulting services](https://vladmihalcea.com/consulting/). Or, you could try to implement it and send me a Pull Request with your proposal.

Anyw

[2020-02-25 12:53] #188 closed

[2020-02-25 14:27] tfeiner opened #189 "A NullPointerException is thrown when adding a ListArrayType definition to a MappedSuperClass"
Hello,

if I try to use

[code]
and

[code]

in a MappedSuperClass then this error is thrown:

[code]

[2020-02-25 17:03] vladmihalcea commented on #189
Every issue needs to have a replicating test case. Without a replicating test case to prove it, there is no issue. I'll keep the issue open for a while so that you can provide the test case. If no test case is provided, I'm going to close it.

[2020-02-25 21:04] tfeiner commented on #189
Hello,

thank you for your quick answer.

You can find a test case here: https://github.com/tfeiner/hibernate-types-test

Just execute cc.feiner.MyEntityTest

Thank you in advance,

kind regards,

Thomas Feiner

[2020-02-26 10:21] vladmihalcea commented on #189
Fixed.

[2020-02-26 10:21] #189 closed

[2020-02-26 16:50] vladmihalcea opened #190 "Allow all ArrayType objects to be used in the addScalar Hibernate Query method"
When executing a native SQL query, Hibernate does not know what Type to use in order to map an ARRAY column value. For that reason, we can use `addScalar`, as explained in [this article](https://vladmihalcea.com/hibernate-no-dialect-mapping-for-jdbc-type/).

Currently, only the `EnumArrayType` supports that, but all `ArrayType` objects should provide this functionality.

[2020-02-28 10:05] Niedes opened #191 "Remove annoying advertising at application startup"
Please remove the annoying advertising for HypersistenceOptimizer at application startup
(see com.vladmihalcea.hibernate.type.util.Configuration -> printBanner()).
It is bossy behaviour - you shouldn't tell devolopers what to install and what not.
It is **their** system, **not yours**!

[2020-02-28 12:32] N4zroth opened #192 "Remove trying to force Hypersistence Optimizer on me"
Why is my log spammed with an ASCII art of Hypersistence Optimizer and why does it ask me to go to your site and buy your product?
Also, why is the class using a name as logger name and not the FQDN? I assume so it's not as easy do exclude from Spring's autoconfiguration?

[2020-02-28 12:51] N4zroth commented on #192
And we can't even exclude the logger as the code will just use System.out. Wow. That's some next-level advertisement here.

[2020-03-05 14:20] N4zroth opened #194 "Stop trying to force your product hypersistence optimizer on us"
The Configuration class is spamming my log with some bloat about hypersistence optimizer, a product you sell. If I disable the log it's just printed to System.out and can't be removed which is completely unacceptable for an open source lib imho. I've used a lot of libraries and have never seen anything like it. Could you please remove the spam?

[2020-03-05 14:46] vladmihalcea commented on #194
Of course, it can be removed. It takes just 2 minutes to go through the `README` file in order to find out how to disable it.

And, there you will also find the reason why this banner exists, and I will not remove it because that's the only financial benefit I get from spending over 10k worth of consulting time for sponsoring the development of this project.

If you don't like it, you are free to

[2020-03-05 14:46] #194 closed

[2020-03-05 22:50] N4zroth opened #195 "Stop trying to force your paid product hypersistence whatever on us"
Your library is spamming my log telling me to try your product which is unacceptable for an open source lib. If I disable the log, it gets printed to System.out. Really shady behaviour. Could you please remove this?
Thanks!

[2020-03-05 22:53] N4zroth commented on #195
Also, just deleting the issues doesn't raise my trust in this either.

[2020-03-07 09:26] vladmihalcea commented on #195
The doc explains [).

OSS authors are free to do whatever they want with their fork. If you don't like it, feel free to fork it and remove the banner yourself.

You're doing it all wrong because you didn't [read the README file](how to remove the Hypersistence Optimizer banner from the log](https://github.com/vladmihalcea/hibernate-types#how-to-remove-the-hypersistence-optimizer-banner-from-the-lo

[2020-03-07 09:26] #195 closed

[2020-03-07 10:21] vladmihalcea opened #196 "How to disable the Hypersistence Optimizer banner?"
If you want to disable the Hypersistence Optimizer banner, then read [this section of the README file](https://github.com/vladmihalcea/hibernate-types/blob/master/README.md#how-to-remove-the-hypersistence-optimizer-banner-from-the-log).

There you will find:

- [why the banner exists in the first place](https://github.com/vladmihalcea/hibernate-types/blob/master/README.md#why-the-hypersistence-opt

[2020-03-07 12:22] vladmihalcea opened #197 "Switch to using a single Logger instance"
Switch to using a unified `LogUtils` class that will be, ultimately, used to switch to SLF4j or Jboss Logging based on the available Logging frameworks.

[2020-03-07 12:23] vladmihalcea commented on #185
Closed as no test case was provided.

[2020-03-07 12:23] #185 closed

[2020-03-07 12:24] vladmihalcea commented on #197
Fixed.

[2020-03-07 12:24] #197 closed

[2020-03-09 07:39] #56 closed

[2020-03-12 16:46] vpriscan commented on #46
This is haunting me too on Wildfly 17.0.1.Final.
Has anyone found a solution for this?

[2020-03-12 16:50] vladmihalcea commented on #46
@vpriscan If you find a solution, you should post it here to help others in the future. I haven't used JBoos o Wildfly for a very long time, so I cannot help you with this.

[2020-03-12 17:47] vpriscan commented on #46
@vladmihalcea @TMSantos @oisti @cec Okay I solved it.

1. For `hibernate-commons-annotations` dependency, use `provided` scope if you are using Maven, or `compileOnly` configuration if you are using Gradle. You can also just remove that dependency declaration altogether, because you probably don't need it for compilation.
Example for Maven:
[code]

2. Add `org.hibernate.commons-annotations` module

[2020-03-13 09:25] vladmihalcea opened #200 "Trigger the EagerFetchingEvent for associations that use fetch="select" in HBM mappings should"
Currently, the `EagerFetchingEvent` is triggered only when the association is fetched using a JOIN. However, associations can also be fetched eagerly using secondary queries, which can lead to N+1 query issues.

All associations that don't use `lazy="true"` should trigger the `EagerFetchingEvent`, no matter their fetch strategy.

[2020-03-16 21:19] sriram-rangarajan opened #201 "Array Types mapping not compatible with HIbernate 5.4.12.Final version"
Hello,

I am using hibernate types for mapping Java arrays to DB array types. After updating hibernate to version to 5.4.12.Final started getting the following errors:

No Dialect mapping for JDBC type: 2003

I am currently using this approach to map String array.
https://vladmihalcea.com/how-to-map-java-and-sql-arrays-with-jpa-and-hibernate/

Please let me know if more info is needed on my side.

[2020-03-17 06:56] vladmihalcea commented on #201
I upgraded to 5.4.12 and all the tests in the `hibernate-types-52` module run just fine. [This is the commit that proves it](https://github.com/vladmihalcea/hibernate-types/commit/6dae8ac1cbc401974b741b4882ba3c2bf48ee196).

So, if you can create a replicating test case, I will take a look at it. Otherwise, I'll close the issue.

[2020-03-17 17:28] sriram-rangarajan commented on #201
ack! I will work on the test cases

[2020-03-17 17:44] vladmihalcea commented on #201
Great, thanks

[2020-03-17 20:02] sriram-rangarajan commented on #201
I did more debugging on my side.

I am using hibernate envers for entity auditing. The issue is incompatible mapping with hibernate-envers:5.4.12.Final. Is there any workaround for the same? Closing this issue as this package is not depenedent on envers package.

[2020-03-17 20:02] #201 closed

[2020-03-17 20:21] vladmihalcea commented on #201
I don't know why Envers might break something. You can open a bug for Hibernate if you have a replicating test case.

[2020-03-19 10:07] jabby opened #202 "GraalVM build failed in Quarkus when using Hibernate Types"
Hello,

First, thanks for your work on hibernate-types.

Then, what is my issue. I can't build quarkus in native-mode with hibernate-types.
If I use the `jsonb` type definition from hibernate-types, the native build failed. I tried with `hibernate-types@2.9.3` and `hibernate-types@2.9.5`.

You can find a sample project to illustrate the problem. https://github.com/jabby/quarkus-hibernate-types-pro

[2020-03-19 10:13] vladmihalcea commented on #202
For the moment, you can use `hibernate-types` in JVM mode. [This PR](https://github.com/vladmihalcea/hibernate-types/issues/173) added support for this.

For native mode, I have no idea what's needed as I've never used GraalVM or Quarkus, and I won't have the time to investigate the issue.

If you can find the problem, send me a Pull Request, and I'll review it.

[2020-03-20 17:32] vpriscan opened #203 "Row is always updated when using JSON objects wrapped in POJOs with no explicit equals method"
Hello,

I am using PostgreSQL database and have a table with some jsonb data.
I am using JsonBinaryType from hibernate-types-52 to map jsonb to POJO property in my entity.
[code]

My problem is the following, even when I am only trying to fetch (read) the entity from the database and don't update anything in it, when my transaction finishes, hibernate performs a row update! I know this because I s

[2020-03-20 18:38] vladmihalcea commented on #203
You need to provide a replicating test case to prove the issue.

[2020-03-20 21:38] vladmihalcea commented on #203
This issue is fixed by [this PR](https://github.com/vladmihalcea/hibernate-types/pull/198). It will be released in 2.10.0.

[2020-03-21 03:04] gabrielfeitosa commented on #203
Hi @vladmihalcea, here a case with this behavior https://github.com/gabrielfeitoa/test-hibernate-types

[2020-03-21 05:50] vladmihalcea commented on #203
@gabrielfeitosa Can you build the latest hibernste-types-52 and test with this SNAPSHOT version? Thd issue should be fixed.

[2020-03-21 06:54] vladmihalcea commented on #203
@vpriscan @gabrielfeitosa I released 2.9.6 so you should test with that version. I created some tests that assert the number of statements and everything looks fine in the 2.9.6 release.

[2020-03-21 13:22] gabrielfeitosa commented on #203
Hi @vladmihalcea, for me continues with the wrong behavior.

[2020-03-21 13:25] vpriscan commented on #203
@vladmihalcea for me too wrong behaviour still occurs using 2.9.6.

[2020-03-21 13:43] vladmihalcea commented on #203
I added [statement assertion](https://github.com/vladmihalcea/hibernate-types/commit/1b0fb16c03c4685488f6b9c67f0843c07117fdcb) for the JSON tests couldn't replicate the issue.

So, the next step is you building a replicating test case. You have to fork the project and create a new test like the ones I built that could replicate your behavior.

[2020-03-21 17:01] vladmihalcea commented on #203
I managed to replicate it and [this commit](https://github.com/vladmihalcea/hibernate-types/commit/3fe18d50fb55f51d9485e128a2790cec61e7dd58) fixes the issue. This fix will be included in 2.9.7, but I will wait for one or two more fixes or improvements to release that.

You should give it a try and see if it works for you too. You can build the `hibernate-types-52` without running the tests and use

[2020-03-21 17:01] #203 closed

[2020-03-21 17:51] vladmihalcea commented on #190
Fixed.

[2020-03-21 17:51] #190 closed

[2020-03-21 19:32] gabrielfeitosa commented on #203
@vladmihalcea thank you very much for the quick implementation, you're rock. The version 2.9.7-SNAPSHOT works for me and i tested 2.9.6 with equals and hashCode and works fine too. :rocket:

[2020-03-21 20:11] vladmihalcea commented on #203
Great. I'll release it next week.

[2020-03-22 08:33] frode-carlsen opened #204 "Add support for checking if the bounds are open or closed for a given Range"
the Range#hasMask method is private, which makes it not possible for clients of class to test whether a range includes/excludes its bounds.

Suggest making hasMask public and /or add convenience methods
* isLowerClosed/isLowerOpen
* isUpperClosed/isUpperOpen
* isClosed
* isOpen

[2020-03-22 08:38] vladmihalcea commented on #204
Send me a Pull Request with your fix proposal. Thanks.

[2020-03-23 07:03] vladmihalcea commented on #204
Fixed.

[2020-03-23 07:03] #204 closed

[2020-03-23 10:08] vpriscan commented on #203
@vladmihalcea It works. Thank you a lot!

[2020-03-23 12:48] vladmihalcea commented on #203
I'm glad to hear that. Enjoy using it and stay tuned for more!

[2020-03-24 00:19] dineshsriram opened #206 "Hibernate mapping exception on hibernate-core v5.4.11+ with "string-array" type"
I have the following typedefs registered via `package-info.java`,

[code]

for the entity below,

[code]

After upgrading `hibernate-core`, `hibernate-envers` and `hibernate-entitymanager` to v5.4.12, I encountered startup failures with the following exception -

[code]

Looking into this more, I found
https://hibernate.atlassian.net/browse/HHH-10844 resulted in this [commit](https://github.com/hi

[2020-03-24 04:54] vladmihalcea commented on #206
This is definitely a Hibernate ORM issue, and there's nothing to be done in this framework to fix it.

You need to open a Hibernate Jira issue and provide a replicating test case. It's best if you send a Pull Request with a fix proposal as, otherwise, this might not get fixed very soon.

[2020-03-24 04:54] #206 closed

[2020-03-24 12:12] ArkadyKarev opened #207 "Broken tests"
I've tried to clone the project to play around with tsranges. Looks like tsrange in PostgreSQL sometimes can contain milliseconds, so in that case pattern `LOCAL_DATE_TIME = DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm:ss[.SSSSSS]")` wouldn't work with the following exception

I'm not sure yet how to handle this correctly, but after I had cloned the project and run docker environment, I'm getting

[2020-03-24 12:28] vladmihalcea commented on #207
I never use that Docker image to run tests, and it would not work for you either, as that's only for PostgreSQL, while the tests that are failing are supposed to run on Oracle, SQL Server or MySQL.

I have all those already installed in my machine since I'm using them on a daily basis, so I don't need a Docker image for that anyway.

If you want to add a feature, you can add a new test case for it

[2020-03-24 12:29] #207 closed

[2020-04-01 18:36] fabioebner opened #208 "ignore property"
It's possible to ignore one property?

tks

[2020-04-01 19:04] vladmihalcea commented on #208
I have no idea what you are talking about.

[2020-04-02 09:31] #208 closed

[2020-04-02 12:33] fabioebner commented on #208
just like u have the @transient in a Entity File,  there is some annotations to when I don't wanna serialize one property when save ?

tks

[2020-04-02 13:50] vladmihalcea commented on #208
This library uses Jackson, so maybe Jackson [`FilterProvider`](https://fasterxml.github.io/jackson-databind/javadoc/2.7/com/fasterxml/jackson/databind/ObjectMapper.html#setFilterProvider(com.fasterxml.jackson.databind.ser.FilterProvider)) can help you.

You can provide a custom `ObjectMapper` as explained in [this article](https://vladmihalcea.com/hibernate-types-customize-jackson-objectmapper/),

[2020-04-06 11:13] flozano opened #209 "Add support for "empty" String values when mapping PostgreSQL range column types"
I was trying to fix this myself but I don't see any obvious way that doesn't involve allowing some kind of empty `Range` in the range class.

Basically, postgres supports ranges of type `[4,4)` but transform them to `empty` [1]:
[code]

So when such value is parsed by Range, you get an exception.
[code]

[1] https://www.postgresql.org/docs/9.3/rangetypes.html

[2020-04-06 11:58] vladmihalcea commented on #209
Maybe it's because PostgreSQL returns `empty` instead of `[4,4)`.

This is what you need to do:

1. You need to create a replicating test case in the [`PostgreSQLRangeTypeTest`](https://github.com/vladmihalcea/hibernate-types/blob/master/hibernate-types-52/src/test/java/com/vladmihalcea/hibernate/type/range/PostgreSQLRangeTypeTest.java)
2. You need to add support for parsing the `empty` String val

[2020-04-07 17:40] catta opened #210 "Add support for saving null JSON objects when using the JsonStringType"
I have an entity with a String attribute mapped to a JSON column type into a **12.2 oracle** database. The column is nullable. When I try to persist an entity with null value on the attribute it throws exception with message "Invalid column type: 1111".

The version I used is 2.9.7

I've managed to reproduce the issue with test classes. Update the test `OracleJsonStringPropertyTest` to persist a n

[2020-04-07 17:46] vladmihalcea commented on #210
Looks like an Oracle JDBC Driver issue. Try with plain JDBC and see if it works.

[2020-04-07 21:42] catta commented on #210
Do you suggest or recommend a driver? A link to download or a maven artifact is perfect.

Thanks

[2020-04-08 03:12] vladmihalcea commented on #210
I suggest you try various Drivers and see if the problem is fixed. Once you find the answer, you will have to report your findings so that others can benefit from your research.

[2020-04-08 17:07] lborie opened #211 "Add support for PostgreSQL "infinity" String values"
Hi !

With PostgreSQL, when you define a `tstzrange`, you can define it like this :
[`["2017-09-15 11:21:00+02",infinity)`](https://www.postgresql.org/docs/current/rangetypes.html#RANGETYPES-INFINITE)

When I try to load an object with that value as a range, we have an exception :

[code]

I understand that in the [`Range.java:256`](https://github.com/vladmihalcea/hibernate-types/blob/master/hiber

[2020-04-08 18:05] vladmihalcea commented on #211
Most likely, you will have to debug it and add see what's needed to be changed to support this.

I don't have time to investigate it, but if you provide a Pull Request with a replicating test case and a fix, I'll review it.

[2020-04-09 09:25] vladmihalcea commented on #211
Fixed.

[2020-04-09 09:25] #211 closed

[2020-04-09 09:54] vladmihalcea commented on #209
Fixed.

[2020-04-09 09:54] #209 closed

[2020-04-09 10:37] flozano commented on #209
oh, thanks a lot. I planned to try this weekend, you were faster...

[2020-04-09 11:05] vladmihalcea commented on #210
Fixed.

[2020-04-09 11:05] #210 closed

[2020-04-11 14:28] jwgmeligmeyling opened #214 "Make AbstractArrayTypeDescriptor#getArrayObjectClass public"
It is useful for example when implementing `SQLFunctionTemplates` that need to know the result type, i.e.:

[code]

This issue is a bit of a note to self, I'm able to create a PR for this later today.
Or can you think of another way to achieve the above @vladmihalcea ?

[2020-04-11 14:52] vladmihalcea commented on #214
Cool. Sounds like a good idea.

[2020-04-12 11:14] jwgmeligmeyling opened #215 "Expose the Hibernate Type for Range elements"
The generic type contains information about the element type. In Hibernate 4.3+ this is available through `DynamicParameterizedType.XPROPERTY`.

This allows for determining the element type, which is useful for example for determining the result type of custom functions, analog to #214.

[2020-04-18 18:25] #179 closed

[2020-04-21 17:54] andrejpetras commented on #202
Hi,

This is working for me: https://github.com/lorislab/quarkus-hibernate-types
It is copied with these changes:
* Add maven dependencies only from quarkus-bom (-> hibernate version)
* Remove all reflection
* Remove hibernate clone method, and I am using only Jackson "object copy"
* Inject `ObjectMapper` from `Quarkus` Arc CDI container

[2020-04-21 18:41] vladmihalcea commented on #202
Thanks for building a workaround. If someone can figure out how that could be integrated, I'll gladly review it.

[2020-04-22 12:43] mybyte opened #219 "Allow ArrayType to work on HSQLDB"
Following the short tutorial on https://vladmihalcea.com/hibernate-hsqldb-array-type/, deserialization of String[] arrays fails.

ArrayUtil#unwrapArray can't work for array of Strings:

`if(arrayClass.isInstance(originalArray)) {
                return (T) originalArray;
            } else {
                throw new UnsupportedOperationException("Cannot transform array :" + Arrays.toString(origin

[2020-04-22 13:12] vladmihalcea commented on #219
You need to create a replicating test case that proves the issue. Use one of the existing test cases and modify it to use HSQLDB instead of PostgreSQL.

[2020-04-24 12:59] chunsfire opened #222 "how to query Oracle json column via HQL"
<<This is more over a query not an issue>>
I have a question that how can we query the oracle json column using HQL?
As in we have json_query() & json_value() functions also json filters available if we take oracle SQL route. <<https://docs.oracle.com/en/database/oracle/oracle-database/12.2/adjsn/query-json-data.html#GUID-119E5069-77F2-45DC-B6F0-A1B312945590>>

Do we have to use native query for t

[2020-04-24 16:12] ffroliva commented on #32
Hi I have the following scenario:

I have a Map<Enum, Double> it gets saves correct, but I am not being able to deserialize it.

Any suggestions?

`Caused by: java.lang.IllegalArgumentException: The given string value: {"EQUITY": 2.0, "CASH_OR_CASH_EQUIVALENT": 1.0} cannot be transformed to Json object
	at com.vladmihalcea.hibernate.type.util.ObjectMapperWrapper.fromString(ObjectMapperWrapper.java

[2020-04-24 16:36] vladmihalcea commented on #32
Try to create a replicating test case that proves the issue using one of the exists tests as a template. Once you replicated it, send a Pull Request with the test case.

[2020-04-24 17:12] ffroliva commented on #32
I was able to solve the problem by adding  jackson-datatype-guava in my
project. Maybe it would be nice if added it to your project since it might
be a very common practice to depend on guavas Immutable classes as I do. Or
you can document you lib informing that dependency.

<dependency>
    <groupId>com.fasterxml.jackson.datatype</groupId>
    <artifactId>jackson-datatype-guava</artifactId>
    <

[2020-04-24 17:52] vladmihalcea commented on #32
Hibernate Types does not require the Jackson Guava dependency. Your application needs it because you are using `ImmutableMap`.

[2020-04-25 17:57] vladmihalcea commented on #219
Fixed.

[2020-04-25 17:57] #219 closed

[2020-04-26 06:46] vladmihalcea commented on #214
Fixed.

[2020-04-26 06:46] #214 closed

[2020-04-26 06:59] vladmihalcea commented on #215
Fixed.

[2020-04-26 06:59] #215 closed

[2020-04-26 08:43] vladmihalcea opened #223 "Add support for Hibernate TypeBootstrapContext"
The Hibernate `TypeBootstrapContext` introduced by the [HHH-13103](https://github.com/hibernate/hibernate-orm/commit/c346171b23a0d06fc74162a6b4846116c0d46c7d) and available since 5.4.13, allows getting access to Hibernate configuration settings.

This can allow settings be provided via Spring `application.properties` and we can also use it when deciding the SQL array column types, like it's the ca

[2020-04-30 17:06] mosesonline opened #226 "SqlResultMapping with ConstructorResult mapping of jsonb column into Constructor is not working"
SqlResultMapping with ConstructorResult mapping of jsonb column into Constructor is not working.

Table:
[code]

Annotation over an Entity:
[code]
Classes:
[code]
not working:
[code]
working solution without SqlResultMapping but deprecated setResultTransformer:
[code]
org.springframework.boot:spring-boot-starter-data-jpa:2.3.0.M4
com.vladmihalcea:hibernate-types-52:2.9.9

[2020-04-30 17:18] vladmihalcea commented on #226
You didn't use the `type` attribute to pass the `JsonStringType` or `JsonBinaryType`. CHeck out [this article](https://vladmihalcea.com/jpa-sqlresultsetmapping/) for more info, and [this one](https://vladmihalcea.com/hibernate-no-dialect-mapping-for-jdbc-type/} as well.

[2020-04-30 17:18] #226 closed

[2020-05-04 04:59] mosesonline commented on #226
I've set the following class as dialect:

[code]
And the entity is read correctly with JpaRepository implementation.
[code]

[2020-05-04 05:11] vladmihalcea commented on #226
That's not the best way to fix this issue. Any other DB-specific column will fail, like UUID.

Better handle the mapping at query level, not global level.

[2020-05-04 06:01] mosesonline commented on #226
And it doesn't fix the issue :)

[2020-05-04 06:11] vladmihalcea commented on #226
Of course, it does ;)

[2020-05-04 10:32] iandrianto opened #227 "ObjectMapperJsonSerializer#clone throws NullPointerException if the Map key or value are null"
Hi, I got the following error
[code]
When I checked it, most likely that was because the `value` is `null` but the code tries to get the class of `value` (`value.getClass()`)

[2020-05-04 10:40] vladmihalcea commented on #227
You need to provide a replicating test case. Use any of the existing tests as a template for your test case.

[2020-05-04 13:22] mosesonline commented on #226
Thanks for the example.

This is my example: [demo.zip](https://github.com/vladmihalcea/hibernate-types/files/4574831/demo.zip) . If you start the container like in the README.md you can run `./mvnw test` you can see two tests failing due to the missing mapping. You can also run the service and use the postman collection.

If you don't find my mistake I ask the hibernate community.

[2020-05-04 13:43] vladmihalcea commented on #226
You're welcome.

[2020-05-04 17:31] mosesonline commented on #226
I'm blind or something. I've tried to find the differences between your example and mine, so I added the metadata builder contributor. Now my request with ListResultTransformer delivers data but the result is not mapped when I use AliasToBeanResultTransformer (added endpoint & test for it).

The SqlResultSetMapping still doesn't work.

I don't know what to configure so that hibernate will map the

[2020-05-04 17:48] vladmihalcea commented on #226
Just fork this repository and run the [`PostgreSQLJsonNodeTypeTest`](https://github.com/vladmihalcea/hibernate-types/blob/55973bb9f9f8910b93b1d390bc8240f8209e1e75/hibernate-types-52/src/test/java/com/vladmihalcea/hibernate/type/json/PostgreSQLJsonNodeTypeTest.java) to see a working example.

[2020-05-07 00:08] chingyi-lin commented on #137
@vladmihalcea Thank you for working on the fix! My team is also encountering this issue on a service using Hibernate ORM. Is there a plan to release the fix? I checked the pull request but there is no activity for a while.

[2020-05-07 05:46] vladmihalcea commented on #137
I don't know when that fix will be merged. You will have to ask the Hibernate ORM team about that.

[2020-05-08 09:06] kulbhushansingh12 opened #228 "Encrypting jsonb type field."

[2020-05-08 09:07] #228 closed

[2020-05-08 09:07] kulbhushansingh12 commented on #228
closed.

[2020-05-12 14:20] NA-Jalilius opened #229 "Updating a json field in PostgreSQL DB using Hibernate-Types returns InvalidDataAccessApiUsageException"
Hello Mr. @vladmihalcea ,
I hope that you're safe and doing great.

Please, I'm facing some kind of exception with one of my applications.
I'm having this Class called Action :
![Class](https://user-images.githubusercontent.com/41047953/81701875-18aa4180-945a-11ea-8676-7baa063baeea.PNG)

This class has it's own repository. At first I used to fetch and read the data from the DB with nor problems, I

[2020-05-12 15:48] vladmihalcea commented on #229
I have never seen that error. You need to replicate it in this repository with a new test so I can see it too.

[2020-05-12 17:04] NA-Jalilius commented on #229
Hello again @vladmihalcea , Thanks you so much for your quick response, I'm sorry I didn't provide much of information about the problem.
So I created a spring project with enough classes to replicate my problem.
This is the log of the exception :
[https://github.com/NA-Jalilius/ProblemDemo/blob/master/error.log](url)

If you are interested of seeing the whole code, please find it in this reposito

[2020-05-12 17:36] vladmihalcea commented on #229
If it's a problem, it needs to be replicaced in this repository. Once you manage to provide a test case here, I'll take a look. Otherwise, you'll have to investigate it yourself.

[2020-05-12 17:39] NA-Jalilius commented on #229
Okey @vladmihalcea ,

Even though I don't understand how I can replicate it in this repository to be honest.
My Bad, at first I thought I need to give you some code that replicate the problem (the code uses Hibernate-Types), if you could elaborate what I need to do and I'll do it gladly.

Thanks a lot anyways =D !

[2020-05-12 18:22] vladmihalcea commented on #229
It's very simple. This project has tests. Add a new one that demonstrates your issue.

[2020-05-12 19:16] NA-Jalilius commented on #229
Ah okey, I see what you mean now my friend.
I'll try to do that very soon and I'll post the results here.

If I can describe the problem shortly, it's regarding the mapping of a List of objects as json array and store it in the database. I've tried to follow some of your article like this one (newer version) [https://vladmihalcea.com/how-to-map-json-collections-using-jpa-and-hibernate/](url) but w

[2020-05-12 19:16] #229 closed

[2020-05-12 19:24] vladmihalcea commented on #229
The collection handling was optimized in 2.x, so the 1.x mechanism was dropped. I'm glad you found a solution.

[2020-05-13 12:34] joshiste commented on #227
Is fixed by https://github.com/vladmihalcea/hibernate-types/pull/230 (also having testcases for this)

[2020-05-14 14:03] mressler commented on #52
I would stay away from adding EnumSet as a bitfield. The values of the enum chan and will change over time, but we don't want the mapping to change. I agree with @jwgmeligmeyling in that they should be represented as Strings.

Found this in a Google search and saw that it has some recent activity - thought I'd add my thoughts!

[2020-05-15 07:40] vladmihalcea commented on #227
Fixed.

[2020-05-15 07:40] #227 closed

[2020-05-15 08:35] vladmihalcea commented on #223
This cannot be done as a `NoClassDefFoundError` is going to be thrown unless you are using 5.4.13 or newer.

I created [HHH-14020](https://hibernate.atlassian.net/browse/HHH-14020) which should handle this in a much better way.

[2020-05-15 08:35] #223 closed

[2020-05-15 10:28] vladmihalcea opened #231 "Allow the ClassImportIntegrator to include a relative path when registering DTO aliases"
The {{ClassImportIntegrator}} needs to provide an {{excludePath}} method that provides the parent path to be removed from the fully-qualified class name.

For instance, if you provide the `com.vladmihalcea.hibernate.type` path,
and register a class whose fully-qualified name is `com.vladmihalcea.hibernate.type.json.PostDTO`,
then the class is going to be registered under the `json.PostDTO` alias.

[2020-05-15 10:40] vladmihalcea commented on #231
Fixed.

[2020-05-15 10:40] #231 closed

[2020-05-18 15:06] warwickdufour opened #235 "Should Hibernate Types handle this polymorphism example?"
I'd like to find out if Hibernate Types is designed to handle this situation which is currently failing for me. I have class hierarchy as follows:

### Hierarchy Root:
[code]

### Intermediate subclass:
[code]
### Main Abstract class (note class member 'payload')
[code]

### Subclassed by both:
[code]
and
[code]
### Note that TacMetarPayload and TacTafPayload both inherit from:
[code]
### Symptoms

[2020-05-18 15:43] vladmihalcea commented on #235
From the exception message, it looks like inheritance is, indeed, supported. Otherwise, you wouldn't get that exception.

If you can manage to replicate it using a test case in this repository, then I'll take a look at it.

[2020-05-18 15:43] #235 closed

[2020-05-19 21:24] austinarbor opened #236 "Support Java 9+ Java Collections Immutable Types"
Consider the class
[code]

If you have a entity
[code]

This does not properly serialize and throws the exception
[code]
[code]

If instead you use
[code]
This works fine

Jackson itself supports deserializing from the List/Map static constructors so it should work here also

[2020-05-20 08:56] warwickdufour commented on #235
Apologies for not being clearer. I realise that inheritance is supported , I was just wondering if the particular use case my code demonstrated was. Having cloned the repository I have reproduced the error in a JUnit test that is modelled on your PostgreSQLJsonParameterizedPropertyTest and I give it below together with the error I'm getting:

[code]

the error output I'm getting is:

[code]

It sh

[2020-05-20 09:03] vladmihalcea commented on #235
Now that you have a replicating test case, just try to figure out what the issue it and provide a replicating test case with a proposed fix. I'll review it after you provide it.

[2020-05-20 09:06] vladmihalcea commented on #236
First, you should provide a replicating test case.

Afterward, you should debug the Hibernate Types code and think of a way to address this issue. Once you have a proper solution, send me a Pull Request, and I'll review it.

[2020-05-20 15:50] charllie opened #237 "Allow JSON Types to handle parameterized entity attribute type variables"
Related to my last pull request https://github.com/vladmihalcea/hibernate-types/pull/225

The unit test you added is working fine. I got a use case where it throws an exception (https://github.com/charllie/hibernate-types-52-spring-boot).

I tried to transpose my use case into a unit test many times but I can't make it fail. Here's the stack trace:

[code]

Thanks again for your time 👍

[2020-05-20 16:03] vladmihalcea commented on #237
If it cannot be replicated in this repository, then the issue might be caused by other frameworks in your Spring Boot application.

[2020-05-20 16:22] charllie commented on #237
Thanks for your reply. My last pull request solved the issue but I don't know if it breaks some other tests or not.

[2020-05-22 08:26] warwickdufour commented on #235
So, the problem appears to be in Hibernate's TypeResolver or at least my understanding and use of Hibernate, not Hibernate Types as Hibernate is passing it the wrong subclass. With the time available to me I have had to work around the problem using a project specific @Parameter argument to Hibernate's @Type annotation. In summary I do not have a fix to propose.

[2020-05-22 08:50] vladmihalcea commented on #235
Thanks for your report. If the problem is in Hibernate, it's a good idea to create a Hibernate Jira issue and reference this issue for more details.

[2020-05-22 17:29] md-farhan-memon commented on #115
@vladmihalcea can you please help me understand the usage for the same? I can't find anything related to this on the internet.
I am using Springboot, JPA with Hibernate 5.4. Java11.
How do I define an attribute in my entity model?

[2020-05-22 18:30] vladmihalcea commented on #115
Support is offered via [consulting](https://vladmihalcea.com/consulting/). If your company is interested in my services, let me know.

[2020-05-23 00:52] wafisher opened #238 "A ClassNotFoundException is thrown when using an Enum List or Array in Kotlin"
Following [your directions](https://vladmihalcea.com/postgresql-array-java-list/), I tried to implement an enum list in Kotlin using:

[code]

and

[code]

this produced the following stacktrace:

[code]

I believe this has to do with the definition of a Kotlin `List` type:

[code]

such that line 103 of your `ReflectionUtils` file gets a wildcard type instead of a specific class.

I have a workar

[2020-05-23 03:23] RachanaHV commented on #153
Hi Sir,
I am facing similar issue when i am trying to update the enum value using native query. I have added this below EnumType
public class EnumConversion extends org.hibernate.type.EnumType {

	private static final long serialVersionUID = 1L;
	    public void nullSafeSet(
	            PreparedStatement st,
	            Object value,
	            int index,
	            SharedSessionContractImpl

[2020-05-23 03:43] RachanaHV opened #239 "Cannot update enum value using native query for postgresEnumType"
Hi Sir,
I am facing similar issue when i am trying to update the enum value using native query. I have added this below EnumType
public class EnumConversion extends org.hibernate.type.EnumType {

private static final long serialVersionUID = 1L;
    public void nullSafeSet(
            PreparedStatement st,
            Object value,
            int index,
            SharedSessionContractImplemento

[2020-05-23 04:50] vladmihalcea commented on #238
The project is only tested with Java. If you provide a fix that works with both Java and Kotlin, I'll investigate it.

[2020-05-23 04:54] vladmihalcea commented on #239
It's very hard to follow the description  of the issue because of the lack of formatting.

If you manage to provide a replicating test case in this repository, without Spring, I'll reopen the issue.

[2020-05-23 04:54] #239 closed

[2020-05-23 09:56] RachanaHV commented on #239
Hi,

I mean to say that I have imported the below dependency and I am using version 2.9.10
<dependency>
		<groupId>com.vladmihalcea</groupId>
		<artifactId>hibernate-types-52</artifactId>
	<version>${hibernate-types.version}</version>
</dependency>

I am able to save the enum value with ref to your article
https://vladmihalcea.com/the-best-way-to-map-an-enum-type-with-jpa-and-hibernate/

Now I wan

[2020-05-23 10:40] vladmihalcea commented on #239
Most likely, you need to pass the Type during the bind. That will not be possible via `@Query`, but via a `createNativeQuery` call.

So, you have to use [this Hibernate setParameter](https://docs.jboss.org/hibernate/orm/5.3/javadocs/org/hibernate/query/Query.html#setParameter-java.lang.String-java.lang.Object-):

[code]

And, `EnumConversion` is not needed. You need to use the `PostgreSQLEnumType`

[2020-05-29 16:13] akoufa commented on #202
@andrejpetras Is it possible to integrate the changes back into this repository ?

[2020-05-29 16:46] wafisher commented on #238
Just modified it slightly. The following works for me:

[code]

[2020-05-29 17:11] vladmihalcea commented on #238
Can you send me a Pull Request with this fix? Thanks.

[2020-05-29 17:15] vladmihalcea commented on #202
@akoufa From what @andrejpetras told, it's unlikely that those changes are backward compatible.

So, the only solution is to create a new module that incorporates those changes. Something like `hibernate-types-quarkus`.

[2020-06-02 07:36] vladmihalcea opened #241 "Add SQLExtractor utility"
The `SQLExtractor` allows getting the underlying SQL query from a JPQL or Criteria API `Query`.

[2020-06-02 07:41] vladmihalcea commented on #241
Fixed.

[2020-06-02 07:41] #241 closed

[2020-06-02 07:52] vladmihalcea commented on #238
Fixed.

[2020-06-02 07:52] #238 closed

[2020-06-02 10:12] rackdon opened #242 "Problem decoding a Kotlin List when using the ListArrayType with PostgreSQL"
After follow your [tutorial](https://vladmihalcea.com/postgresql-array-java-list/) I can insert the list in the database but an error is thrown when I try to retrieve the data.
I have the following database structure
[code]
with the custom type ChargingIntervalJpa
[code]
I had to override the `toString` function because it was the only way to insert the intervals correctly in the database.
Until h

[2020-06-02 10:58] vladmihalcea commented on #242
There was #238 issue related to Kotlin Lists that got fixed. Try to see if it works without the change you made. Let me know if it worked.

[2020-06-02 12:48] rackdon commented on #242
Sorry but I don't understand what do you mean.

[2020-06-02 12:59] vladmihalcea commented on #242
Try with the 2.9.11 version and see if it works. There was a Kotlin issue that was fixed. That's why you need to test it with 2.9.11.

[2020-06-02 13:08] rackdon commented on #242
Sorry, I've tested with that versions and this problem persists

[2020-06-02 13:24] vladmihalcea commented on #242
@rackdon Thanks for your confirmation. I only test this project with Java, not with Kotlin. So, if you want to fix it, feel free to send a Pull Request with a fix. If that doesn't break anything, I will integrate.

[2020-06-03 07:34] rackdon commented on #242
Sorry but I had to implement my own type descriptor. I was investigating about how to solve the problem but I didn't found the key.
On the other hand, I'm not totally sure if the current library implementation is working with custom list database types, I mean, following the code I'm not sure if the code I wrote at the beginning of the issue could work if it was java code....

[2020-06-03 07:40] vladmihalcea commented on #242
Thanks for your feedback. I'll close this issue as you found a solution.

[2020-06-03 07:40] #242 closed

[2020-06-04 06:12] lennertdefeyter commented on #46
Fyi, this is the solution that I found to work:
https://stackoverflow.com/questions/52290683/hibernate-types-and-jboss-compatibility-issue

[2020-06-04 07:13] vladmihalcea commented on #46
@Thanks @lennertdefeyter for pointing it out.

[2020-06-10 14:52] z0mb1ek opened #243 "The NotSerializableException is thrown when mapping a Map<String, List<>> entity attribute to a JSON column"
Hi. I get exception when try to save entity with field:
[code]

where:

[code]

Exception is:

[code]

[2020-06-12 06:24] azell opened #244 "Guava range mapping does not support infinite bounds"
If I create a Guava Range instance like the following:

[code]

then saving it will generate an exception.  The offending code is in
https://github.com/vladmihalcea/hibernate-types/blob/master/hibernate-types-52/src/main/java/com/vladmihalcea/hibernate/type/range/guava/PostgreSQLGuavaRangeType.java#L364

According to https://guava.dev/releases/snapshot-jre/api/docs/com/google/common/collect/Range.

[2020-06-12 06:33] azell commented on #244
And I think there is a copy and paste error at https://github.com/vladmihalcea/hibernate-types/blob/master/hibernate-types-52/src/main/java/com/vladmihalcea/hibernate/type/range/guava/PostgreSQLGuavaRangeType.java#L173

Should replace `upper` on lines 173 and 174 with `lower`.

[2020-06-12 07:42] vladmihalcea commented on #244
Thanks for the analysis. Send me a Pull Request with a replicating test case and a fix to these issues, and I'll review it.

[2020-06-14 05:38] azell commented on #244
@vladmihalcea https://github.com/vladmihalcea/hibernate-types/pull/245

[2020-06-19 17:20] gitterhh opened #247 "Add jackson-module-jaxb-annotations dependency"
On mapping
[code]
I receive the error
[code]
It is need to add the dependency
[code]

[2020-06-19 17:55] vladmihalcea commented on #247
This issue is probably related to [this StackOverflow question](https://stackoverflow.com/questions/59933277/provider-com-fasterxml-jackson-module-jaxb-jaxbannotationmodule-not-found-afte) and seems to affect Spring Boot 2.2 or newer versions.

[2020-06-19 17:56] vladmihalcea commented on #247
Fixed.

[2020-06-19 17:56] #247 closed

[2020-06-19 18:46] vladmihalcea commented on #243
Closed as no replicating tets case was provided.

[2020-06-19 18:51] vladmihalcea commented on #244
Fixed.

[2020-06-19 18:51] #244 closed

[2020-06-19 18:56] vladmihalcea commented on #236
Closed as I couldn't replicate it.

[2020-06-19 18:56] #236 closed

[2020-06-19 19:03] vladmihalcea commented on #237
Fixed.

[2020-06-19 19:03] #237 closed

[2020-06-23 05:32] vladmihalcea commented on #243
This issue requires testing for non-`Serializable` collection elements too.

[2020-06-23 12:13] michaelcowan opened #251 "JsonBinaryType doesn't support String Object without quotes"
I would like to be able to persist an arbitrary `Object` member in my entity using JSONB ...

[code]

[code]

This works fine for the following cases ...

[code]

But not for ...

[code]

`JsonParseException` is thrown by the call to [objectMapper.readTree(...)](https://github.com/vladmihalcea/hibernate-types/blob/master/hibernate-types-52/src/main/java/com/vladmihalcea/hibernate/type/util/ObjectM

[2020-06-23 12:37] vladmihalcea commented on #251
@michaelcowan Thanks for the report. A simple `String` value is not a valid JSON, so I'm not sure whether this needs to be supported.

It looks like a hack.

[2020-06-23 14:13] michaelcowan commented on #251
@vladmihalcea I know what you mean - I've been back and forth on this myself.

The way I (currently) see this is that `data` could be a `List`, a `Map`, a `Number`, a `Boolean`  or `null` - all of these _just work_ and none of them have anything to do with JSON per se.

`String` is the odd one out where its value has to be made 'JSON-like'.

Locally I have had to manage adding/removing the quotes

[2020-06-23 14:26] vladmihalcea commented on #251
I'm not discarding this request since JSON is also used to save unvalidated data, hence it should be less strict.

I created [the following branch on GitHub](https://github.com/vladmihalcea/hibernate-types/tree/json-string). The persist works fine. It's just that the unwrapping needs to discard the quotes. I'll have to find a way to fix that. If you have time, you could take a look and see whether

[2020-06-23 15:26] michaelcowan commented on #251
@vladmihalcea Something like this maybe? https://github.com/vladmihalcea/hibernate-types/pull/252

[2020-06-23 16:13] vladmihalcea commented on #251
@michaelcowan There are lots of test failures. It's not as simple as just removing that check. You have to remember that these types have to work on Oracle, SQL Server, PostgreSQL, and MySQL.

[2020-06-29 14:16] izogfif commented on #102
What about hibernate-types-5? I can't find this class in there.

[2020-06-29 14:19] vladmihalcea commented on #102
Hibernate supports Java 8 since version 5.2, so the Hibernate Types project follows it.

If you are using Java 8, you should migrate to Hibernate 5.2, 5,3, or 5.4 and use the Hibernate Types 5.2 dependency.

[2020-06-29 14:34] izogfif commented on #102
Migration from 5.1.0.Final to 5.2.18.Final leads to infinite number of warnings in run time (because of usage of lots of methods which became deprecated in 5.2) and requires full retest (e.g. in case of default settings being changed). Pretty huge investment to be able to use ZoneId as entity property type.
What's the Java compatibility for hibernate-types-5? If it's Java 6 then yes, I suppose the

[2020-06-29 14:50] vladmihalcea commented on #102
That's correct. The `hibernate-types-5`, `hibernate-types-43`, and `hibernate-types-4` are built using JDK 1.6 since there are many legacy projects still running on 1.6. Migrating to Java 8 would break all those projects, hence it cannot happen.

However, you can simply fork the project and backport the `ZoneIdType` to the `hibernate-types-5` module. That's the beauty of open-source. You are free

[2020-07-07 09:07] favccxx opened #256 "string value: {"routingKey": "aaaa"} cannot be transformed to Json object"
I try to  save java object to json value in postgres as jsonb format, it works fine. But when try to query it, it failed. and told me string value cannot be transformed to Json object.

I have see all the issues, but i think you did not solve the problem. such as #  #88，

https://vladmihalcea.com/the-hibernate-types-open-source-project-is-born/
In this article, if you just declare String object, a

[2020-07-07 13:50] vladmihalcea commented on #256
You need to provide a replicating test case so that I can also see the problem. Fork the repository and use any of the existing tests to create a new one that can show the problem. I'll take a look at it when you send the Pull Request with the test case.

[2020-07-08 05:41] favccxx commented on #256
I found the problem, when we save the simple Java Object as json, it works fine. But when i use the basic or parent Java class, it will return wrong for json parse error.
When we use spring data mongo, it uses the _class properties to solve the problem. Below is the case.

class BaseModel(){
...
}

class BizModel extends baseModel(){
...
}

class JsonbClass(){
  @Type(type = "jsonb")
  @Column(col

[2020-07-08 07:32] vladmihalcea commented on #256
Send me a Pull Request with the replicating test case, and I'll check it afterward. Without a test case, there's no issue.

[2020-07-14 15:45] plucdrol opened #259 "Illegal reflective access by ReflectionUtils"
I have added hibernate-types-5 2.9.9 as a dependency in a SpringBoot application (using spring-data 3.2.5.RELEASE) in order to use Postgresql custom types.
When I start the application, I get these warnings:
[code]
Is there a way to remove these warnings only for ReflectionUtils? These logs cannot be controlled by log4j apparently.

[2020-07-14 16:48] vladmihalcea commented on #259
There isn't much that can be done about it. You get this WARNING on Java 9 or higher JVM version because of the new Module system.

Yes, they cannot be controlled via Log4J since these are not application logs, but JVM warnings.

Sure thing. You have to add the following argument when starting the JVM:

    --illegal-access=allow

[2020-07-14 16:48] #259 closed

[2020-07-24 15:35] fabienpomerol commented on #202
@andrejpetras @vladmihalcea any updates on this issue ? :)

[2020-07-24 17:12] vladmihalcea commented on #202
@fabienpomerol From what I've heard, the Quarkus team wanted to create their own extension for this.

[2020-07-26 16:54] andrejpetras commented on #202
Hi @fabienpomerol

there is Quarkus issue: https://github.com/quarkusio/quarkus/issues/9861
My plan is to prepare PR for the Quarkus Hibernate extension from this https://github.com/lorislab/quarkus-hibernate-types

[2020-07-28 11:51] vladmihalcea commented on #167
Fixed by #260

[2020-07-28 11:51] #167 closed

[2020-07-30 09:40] baerwang opened #261 "Are PostgreSQL composites type supported?"

[2020-07-30 10:26] vladmihalcea commented on #261
There is no support for PostgreSQL composite types. I have never used this feature, so I don't know how it will work in JDBC. If you can build an example showing show this works in JDBC, I will have more info about what might be needed to add a custom type. However, even so, it might be that this is not easy to implement as a Hibernate Type.

[2020-07-30 21:43] baerwang commented on #261
Thank you for your reply

[2020-07-30 21:43] #261 closed

[2020-08-03 12:11] vladmihalcea opened #262 "Add MonthDayType to map a java.time.MonthDay to either a DATE or an INTEGER column type"
Just like `YearMonth`, there should be a Hibernate Type to map a `java.time.MonthDay` to either a DATE or an INTEGER column type

[2020-08-08 14:58] megaterrarc opened #263 "Query Specification Generates unexpected update for jsonb"
Hibernate Spring boot entity and PostgreSql

# Entity

[code]

# Specification Query

[code]

# Console Log

[code]

How to stop these unwanted updates?

[2020-08-08 16:00] vladmihalcea commented on #263
It could be either related to the equals/hashCode of the `NotaFiscalProductEntity`. The only way to know for sure is if you supply a replicating test case that can be then debugged in order to find out the issue.

The easiest way to create a replicating test case is to use any of the existing test cases in the `json` subfolder as as template for your own test. Without a replicating test case, it's

[2020-08-09 00:39] megaterrarc commented on #263
I will review the equals / hashCode and prepare a test case.

Return with more.

[2020-08-09 18:41] megaterrarc commented on #263
Apparently @EqualsAndHashCode in the class of the products field resolves the dirty update.

Here is a correction for those who have the same problem:

[code]

@vladmihalcea Thanks for the clarification.

[2020-08-09 18:41] #263 closed

[2020-08-09 19:05] vladmihalcea commented on #263
@megaterrarc You're welcome. I'm glad I could help.

[2020-08-11 09:34] BlackRen09 opened #264 "Why update sql occurred when I used JsonBinaryType to query some results?"
![image](https://user-images.githubusercontent.com/19494659/89883161-5d30af00-dbfa-11ea-9d4f-fdd845a918f4.png)
I used Spring Data JPA as ORM, a table contains a column which is defined as jsonb, when I execute a simple query sql, hibernate log show some update sql executing in the meantime

[2020-08-11 10:02] vladmihalcea commented on #264
Most likely it's because you didn't add equals and hashCode on your POJOs that are saved as JSON. Check out [this issue](https://github.com/vladmihalcea/hibernate-types/issues/263) for more details.

[2020-08-11 11:11] BlackRen09 commented on #264
It works and thanks very much!

[2020-08-11 11:11] #264 closed

[2020-08-11 11:19] vladmihalcea commented on #264
I'm glad I could help.

[2020-08-14 07:06] cec commented on #153
Hello @vladmihalcea thank you for looking into this.

I see that you removed this from milestone 2.10.0

Is a solution to the issue still planned or is it being dropped?

Once again, thank you very much for this library :)

[2020-08-14 07:20] vladmihalcea commented on #153
I don't know when or whether I'll have time to implement it. It's not very complicated, it's just that I have other priorities this year. If you need this feature, you should try to implement it and send me a Pull Request.

[2020-08-14 13:46] cec commented on #153
It's undertandable, especially since this problem affect only native queries and I have to use them only because I'm stuck to a old hibernate version.

I was asking in case this was going to be implemented in the near future, but for now I'm good with manual casting and I believe that I should focus on updating our company's tech stack instead of trying to get the various tools to work with it.

H

[2020-08-14 13:55] vladmihalcea commented on #153
@cec If it's important to your company, I could implement it via [consulting](https://vladmihalcea.com/consulting/). It will take around 4h of consulting to develop it and release a new version.

[2020-08-17 15:58] clzola opened #265 "Bad value for type long when using PostgreSQL database"
Hi, I am using your library but I have problems with extracting JSONBs from database. The error I am getting is
[code]

I am using PostgreSQL 12.3 version.

I have been debuging my app and discovered that it is calling `org.hibernate.type.descriptor.sql.BlobTypeDescriptor::getExtractor()` method in which it returns implementation of `BasicExtractor` class.  Then it calls doExtract() method from Ba

[2020-08-17 16:26] vladmihalcea commented on #265
In order to investigate it, you will need to provide a replicating test case. Use any of the existing test cases as the base for your test. I'll take a look at it once it's done.

[2020-08-17 17:30] clzola commented on #265
I have created fresh new project, put your library in there, created table with jsonb in PostgreSQL database, and it works, but for some reason in my current project it does not. Further debuggings show that it thinkgs that it is JsonBlobType instead of JsonBinaryType... Somehow my spring boot project ignores @TypeDefs....

I don't know how would I create test case, when it just does not work for

[2020-08-17 17:43] vladmihalcea commented on #265
Then, it's definitely not a problem with this library. It's either a Spring Boot or a Hibernate issue, so you need to open the issue for those projects.

[2020-08-17 17:43] #265 closed

[2020-08-17 17:55] clzola commented on #265
I figured it out, for some reason I had this dependency in my `pom.xml` faile:

[code]

I can't remember why I put it there, but once I removed it (I also see that your library is also using this dependency) it started working...

[2020-08-17 18:08] vladmihalcea commented on #265
I don't see why that dependency would cause that issue. Again, maybe it's a Hibernate issue.

[2020-08-20 15:35] vladmihalcea opened #267 "Add subsecond precision for Range<LocalDateTime>"
Like `Range<ZonedDateTime>`, the `Range<LocalDateTime>` should offer subsecond precision.

[2020-08-20 15:36] #267 closed

[2020-09-03 20:32] jmchuster commented on #247
We just upgraded our services from Spring boot 2.1.4 => 2.3.3, and it looks like the `jackson-datatype-joda` dependency is also required.

[2020-09-04 03:43] vladmihalcea commented on #247
@jmchuster I don't think Hibernate Types needs that dependency. Run a dependency tree and see where it's needed.

[2020-09-05 02:13] jmchuster commented on #247
Sorry, i think i got confused somewhere along the way.  It was only the `jackson-module-jaxb-annotations` that was missing, resolved by upgrading hibernate-types.  We were scrambling to fix a forced upgrade, and I must've missed a refresh somewhere trying to get it to a working state, and formed the wrong the dependency chain in my mind.

[2020-09-05 04:40] vladmihalcea commented on #247
No problem. I'm glad you sorted it out.

[2020-09-08 21:53] jmchuster commented on #264
Is this something that changed in the last year, how the dirty checking works?  We did not see these types of updates when querying, until we recently upgraded:
spring boot `2.1.4` => `2.3.3`
hibernate-types-52 `2.3.0` => `2.9.13`

[2020-09-09 05:35] vladmihalcea commented on #264
Check out the project release notes for more details. If you see redundant Updates, it's most likely because of the lack of equals/hashCode on the Pojos you map to Json.

[2020-09-10 09:03] fredclose commented on #152
@cec can you show what's your workaround for this issue ?
what do you mean with ' I will resort to explicit casting for the moment.'

[2020-09-14 12:53] wimdeblauwe commented on #262
Is this issue being worked on? I tried to implement it, by basically copy/pasting from YearMonthType, but I can't generate a JAR to test it as I don't have Java 6. Are you interested in a patch file of what I have ?

[2020-09-14 13:43] vladmihalcea commented on #262
I'm not working on any issue at the moment since I'm busy with other things. If you have a proof of concept, it would be great to send a PR with it. I'll review it when I have some time, although that might take a couple of weeks or months.

[2020-09-22 14:57] unknowedNp opened #269 "Problem json serialize with nullability in kotlin"
When use @Type json in MySql database with kotlin data class entity
throw nullpointer exception from objectmapper that some field can not be not null but any object i created is not null.

and after i use hibernate converter, everything worked.

[2020-09-22 16:03] vladmihalcea commented on #269
The library is only tested with Java. There's no guarantee that it will work in any other JVM language. It could work though.

[2020-09-22 16:03] #269 closed

[2020-09-23 16:25] Cytriox commented on #179
Hi,

You could extend PostgreSQLEnumType to use your own class (for example MyPostgreSQLEnumType.class) and override the nullSafeSet method with Types.VARCHAR for your unit tests :

[code]

For your production code, this class is empty :
[code]

[2020-09-29 21:08] imbananko commented on #93
same problem for me with WildFly

[2020-09-30 04:27] vladmihalcea commented on #93
@imbananko If you find a solution, don't forget to add it here to help others in the future to overcome this issue.

[2020-09-30 19:12] joshiste opened #270 "Custom Array Type"
I've a class (used for Ids) wrapping a UUID and also a Hibernate TypeDescriptor to persist those to basic columns.
I'd also like to store arrays of this custom type. Is there some convenient way to do this?

[2020-09-30 19:24] vladmihalcea commented on #270
Is this question related to the project or is it just a general question that's better asked on StackOverflow?

[2020-09-30 19:36] joshiste commented on #270
I was hoping that somehow subclassing the ' AbstractArrayType`/`AbstractArrayTypeDescriptor` of this project would ease the job?

[2020-09-30 19:37] vladmihalcea commented on #270
Job rhymes well with [cosulting](https://vladmihalcea.com/consulting/). Let me know if you're interested in unraveling the wonders of JPA and Hibernate extensions.

[2020-10-03 19:19] vladmihalcea opened #272 "Add support for mapping BigDecimal arrays"
The `ArrayType` and `ListArrayType` should support `BigDecimal` as well.

[2020-10-03 19:30] vladmihalcea commented on #272
Fixed by #268

[2020-10-03 19:30] #272 closed

[2020-10-03 19:38] vladmihalcea commented on #262
Fixed by #271

[2020-10-03 19:38] #262 closed

[2020-10-06 20:30] lunanigra opened #273 "Persist Java list causes Postgres SQL syntax exception / Spring Boot Data"
Thanks for your cool library!

I have a use-case quite similar to your example...
https://vladmihalcea.com/how-to-map-json-collections-using-jpa-and-hibernate

It is Postgres and a Java list containing a simple object of two string fields. But instead of using Hibernate directly I'm using Spring Boot Data JPA Repository.

When trying to persist the object an exception is thrown (Postgres SQL syste

[2020-10-07 03:08] vladmihalcea commented on #273
Spring Boot JPA uses Hibernate, so it should work.

Yoh said about some error, but you forgot to add it.

[2020-10-07 08:00] lunanigra commented on #273
Unluckily the error messag is not really verbose. This is what I see in the logs...

**Hibernate statement**
[code]

**Mapped values**
[code]

**Original exception**
[code]

**Database value** (DB to Java works perfectly)
[code]

**Reference class**
[code]

[2020-10-07 09:00] vladmihalcea commented on #273
I don't understand the exception message as it's not in English and there's no other info provided.

I'll need several hours of consulting to investigate it and provide you a solution. If your company interested in my services, let me know.

[2020-10-07 09:11] lunanigra commented on #273
Ok, if you say that it should  work at least on paper I will provide a simple stand-alone application and run some more tests.
I will also try to switch the message to English - German error code are a pain.

[2020-10-07 09:20] vladmihalcea commented on #273
I don't know if it should work as it involves Lombok. A replicating test case would help, but due to my busy schedule, I don't think I could investigate it until January or February.

[2020-10-07 12:19] lunanigra commented on #273
Sorry to say so... But got it!

"references" seems to be a reserved word in Postgres. Funny that you can use it via UI and on select statements; not on update statememts.

Done now.

[2020-10-07 12:28] vladmihalcea commented on #273
Great. I'm glad you found the solution. Probably that's what that German error message was telling, right?

[2020-10-07 12:28] #273 closed

[2020-10-07 12:40] lunanigra commented on #273
Not really ;)

Even in English the error message is not totally clear - all statements are generated and you don't see a concrete mistake.

[code]

But when putting the query into a GUI with highlighting it became clearer... Thanks again for your cool lib!

[2020-10-07 12:44] vladmihalcea commented on #273
That's the classic syntax failure exception message. You get this whenever the SQL Parser cannot parse the SQL query either because you are using a non-supported keyword or a non-existing table identifier.

[2020-10-07 13:27] vladmihalcea commented on #113
Fixed.

[2020-10-07 13:27] #113 closed

[2020-10-07 15:20] vladmihalcea commented on #160
[This commit](https://github.com/vladmihalcea/hibernate-types/commit/0c9ac781e3ec1079237ddbf5be67eb791df22b3c) adds several test cases demonstrating that `BINARY_DOUBLE` and `BINARY_FLOAT` are already supported by Hibernate, so no custom Type needs to be added.

[2020-10-07 15:20] #160 closed

[2020-10-08 11:10] #256 closed

[2020-10-11 17:21] pavelgordon commented on #243
Hey there @vladmihalcea!

I am not the author of the issue. But I want to help as much as I can - and I decided to start with this issue. This [PR](https://github.com/vladmihalcea/hibernate-types/pull/274) provides a test that reproduces the issue(on all versions of the library) - that should make the investigation easier for you. I will also try to investigate it on my own - but maybe this PR is

[2020-10-11 17:44] pavelgordon commented on #243
As a matter of fact, I was able to have some progress on this issue :)

Answering @z0mb1ek, in order for the code to work you have to make `AudioAttributes` implement `java.io.Serializable`
[code]

@vladmihalcea in my PR I created a test with a "complex" object which contains a collection of nested objects. If nested objects are also Serializable - then serialization of a complex object works as w

[2020-10-11 18:46] vladmihalcea commented on #243
Thanks for providing a replicating test case. The expected behavior is to make it work no matter if the underlying structure implements `Serializable`, so this is, indeed, an issue. The easiest solution is to catch the `NotSerializableException` and switch to the other JSON marshaling strategy which doesn't use the Java serialization.

[2020-10-13 17:00] pavelgordon commented on #23
Hey @vladmihalcea, is this still up for grabs? If so, I would like to implement it.
From what I understand, it's as simple as bringing
[code]

to the codebase, and writing a test for it. Am I missing something?

[2020-10-13 17:36] vladmihalcea commented on #23
If you have time to do it, I'll surely appreciate it. Looking forward to getting your PR.

[2020-10-15 08:11] Cytriox commented on #179
Better with :
[code]
Have fun

[2020-10-15 11:20] vladmihalcea commented on #179
Thanks for the workaround

[2020-10-17 21:20] HittiGubbi commented on #39
Our Spring application uses jsonb columns in postgresql without problems under hibernate-types-52 version 2.2.2, but any version >= 2.2.3 goes berserk. When looking at the data with psql, the data stored with version 2.2.2 shows as:

` "[{\"item\":\"eedaa6\",\"type\":\"Valid\"},{\"item\":\"70254c\",\"type\":\"Valid\"},{\"item\":\"717ce9\",\"type\":\"Valid\"}]"`

If I try to store the very same dat

[2020-10-17 21:23] HittiGubbi opened #276 "Regarding issue #39 (String fields on entity as JSONB don't work correctly)"
I suspect the problem we are experiencing is closely related to issue #39.

Our Spring application uses jsonb columns in postgresql without problems under hibernate-types-52 version 2.2.2, but any version >= 2.2.3 goes berserk. When looking at the data with psql, the data stored with version 2.2.2 shows as:

` "[{\"item\":\"eedaa6\",\"type\":\"Valid\"},{\"item\":\"70254c\",\"type\":\"Valid\"},{\"i

[2020-10-18 03:40] vladmihalcea commented on #276
Try to debug both versions and see where they differ.

I've never seen this issue. You could try to replicate it with one of the existing test cases. If you can, then send a Pull Request with the replicating test case.

[2020-10-18 12:43] HittiGubbi commented on #276
Ok, it seems the issue was found from our own code, which accidentally sometimes did extra JSON.stringify-operation to some parts of the JSON data. It was just a coincidence that the extra stringifications caused no problems under 2.2.2.

[2020-10-18 12:43] #276 closed

[2020-10-18 14:23] vladmihalcea commented on #276
I'm glad you found the issue.

[2020-11-04 01:31] dfreudenberger opened #277 "Why update sql occurred when I used JsonBinaryType"
Hey. First of all thanks for your quick reply on twitter. It helped me finding the issues #264 and #263 on github. Unfortunately I'm still in a situation where I see updates happening. It's a mix of kotlin / java but I had exactly the same result in pure java.

[code]

[code]

As soon as persisting a new entity I see the insert statement followed by an update statement. I already figured out that

[2020-11-04 04:41] vladmihalcea commented on #277
I've never used Kotlin and avoid Lombok because it doesn't play well with Hibernate, so, at a first glance, I can't see any obvious problem.

In order to replicate it, this problem would have to be demonstrated using a test case in this repository, as if it's a bug, then the replicating test case serves as a regression prevention mechanism.

Having a very busy schedule until February, I won't have

[2020-11-04 13:34] dfreudenberger commented on #277
Hey @vladmihalcea. The issue is not related to Kotlin or Lombok. After stepping through the JsonTpeDescriptor::areEqual method I realised the default objectmapper does not support the date classes introduced in java 8. This results in foo != serialize(deserialize(foo)).

We could

1. do nothing because it can be fixed by providing a customized objectmapper with JavaTimeModule enabled
2. document i

[2020-11-04 14:16] dfreudenberger commented on #277
Okay it is related to the object mapper's behaviour of how offsetdatetime objects are serialized and deserialized.
Following configuration does the job
[code]

More details can be found here https://github.com/FasterXML/jackson-modules-java8/issues/53

[2020-11-04 15:09] vladmihalcea commented on #277
Thanks for providing thd workaround. It will surely help others having the same issue. This might bd included in the default mapper, but it requires analyzing whether it does not break other existing systems.

[2020-11-13 12:04] JensPiegsa opened #278 "Postgresql: Generalized Inverted Index"
Hi, I'd like to ask whether this library provides a declarative way to define generalized inverted indices (GIN) for JSONB columns in Postgresql. So schema generation would result in a line like:

[code]

[2020-11-13 12:17] vladmihalcea commented on #278
Not only that this cannot provide this, but not even the JPA or Hibernate `@Index` annotation can do that. But, even if it did, it would still be the wrong way to manage your DB schema because, a schema migration tool, like [Flyway](https://vladmihalcea.com/flyway-database-schema-migrations/) is a much better approach.

[2020-11-13 12:17] #278 closed

[2020-11-13 13:05] JensPiegsa commented on #278
Thank's for your super-fast reply. I already use Flyway for schema migration. But it's also very helpful being able to automate generation of DDL snippets most of the time (Also not all my integration tests via testcontainers are required to execute the whole schema migration history).

The annotations `@Index`, `@UniqueConstraint`, `@ForeignKey` and also properties like `hibernate.hbm2ddl.delimit

[2020-11-13 13:48] vladmihalcea commented on #278
I think the only way you could do it is via [auxiliary database objects](https://docs.jboss.org/hibernate/core/3.6/reference/en-US/html/mapping.html#mapping-database-object), but there's no annotation equivalent, so you'd have to add a `hibernate.cfg.xml` file for that.

[2020-11-13 16:07] JensPiegsa commented on #278
That worked! For some unknown reason I had to name the file following the pattern `*.hbm.xml` to be picked up and implement `org.hibernate.boot.model.relational.AuxiliaryDatabaseObject`.

[code]

[2020-11-13 19:53] vladmihalcea commented on #278
Thanks. I'm glad I could help.

[2020-11-16 13:14] JensPiegsa opened #279 "Dependency conflict org.hibernate.common:hibernate-commons-annotations"
I run into a dependency conflict trying to deploy my application using hibernate-types-52 version **2.10.0** to WildFly **21.0.0.Final**.

It looks like this is caused by WildFly being shipped with hibernate-commons-annotations **5.0.5.Final** but hibernate-types-52 2.10.0 depending on **5.0.4.Final**.

Are there any known incompatibilities / workarounds?

The stack trace:
[code]